@import "prolite/mixins";
@import "prolite/globals";
@import "prolite/boostrap3_tabs";

* {
  border-radius: 0;
}


.adminMenu {
  border-right: 3px solid #0d3625;

  .nav-pills {
    & > li {
      & > a {
        border-radius: 0;
        font-weight: bold;
        font-size: 16px;
      }
    }
  }
}

.preview {
  position: absolute;
  right: 30px;
  top: 60px;
}


.localisation-block {
  display: inline-block;
  position: fixed;
  right: 35px;
  bottom: 20px;
  z-index: 5;
}
.my-dropdown{
  margin-bottom: 0;
  background-color: #fff;
  li{
    display: none;
    background-color: #fff;
    border-bottom: 1px solid #3d3d3d;
  }
}
.my-dropdown.show{
  li{
    display: block;
  }
}

.image-actions {
  position: relative;
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
  overflow: hidden;

  .get-crop-btn, .delete-image-btn, .handle {
    opacity: 0;
    position: absolute;
    top: 0;
    transition: all 0.2s ease;
    cursor: pointer;
    padding: 5px;
    background-color: #fffc;
  }

  .get-crop-btn {
    left: 0;
  }

  .delete-image-btn {
    right: 0;
  }

  .handle {
    top: auto;
    bottom: 0;
    left: 0;
  }

  &:hover {
    .get-crop-btn, .delete-image-btn, .handle {
      opacity: 1;
    }
  }
}

.cropWrapperModal {
  .modal-dialog {
    max-width: 100%;
  }
}

.dropdownMenu {
  .drop-item {
    position: relative;
  }

  .drop-item:hover > .drop-block {
    top: 0;
    opacity: 1;
  }

  li:not(.nav-item) {
    width: 100%;
    position: relative;
    line-height: 1;
    list-style-type: none;
    border: 1px solid;
    border-top-width: 0;

    &:first-of-type {
      border-top-width: 1px;
    }

    &:hover {
      > a {
        color: #fff;
        background: #3c4858;
      }
    }

    a {
      margin: 0 !important;
      border-radius: 0 !important;
      display: block;
      text-decoration: none;
      text-align: left;
      box-shadow: none;
      padding: 8px 10px;
      padding-right: 20%;
      margin: 0;
      color: #5b5b5b;
      font-family: "Open Sans", sans-serif;
      font-size: 14px;
    }
  }

  .drop-block {
    display: block;
    position: absolute;
    z-index: 6;
    left: 100%;
    top: -9999em;
    transition: opacity .3s ease;
    opacity: 0;
    padding: 0;
    background-color: #fff;
    color: #214577;
    margin: 0 -20px 0 0;
    min-width: 250px;
    width: auto;
    box-shadow: 1px 0 4px 0 #bebebe;
  }
}

@for $i from 1 through 100 {
  .max-width-#{$i * 10} {
    max-width: #{$i * 10}px;
  }
}

.preloader-holder {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 9999;
}


.preloader {
  position: absolute;
  width: 10%;
  height: 0;
  padding-bottom: 10%;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.preloader div {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  overflow: hidden;
  animation: animatePreloader 1s infinite linear;
  transform-origin: 50% 100%;
}

.preloader div:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translateX(-50%);
  border: 3px solid #333;
  border-radius: 50%;
  box-sizing: border-box;
  animation: colorChange 2s infinite linear;
}

.preloader div:nth-child(2) {
  width: 60%;
  height: 60%;
  top: 20%;
  animation: animatePreloader 0.5s infinite linear;
}

@keyframes animatePreloader {
  0% {
    transform: translateX(-50%) translateY(-50%) rotateZ(0deg);
  }
  100% {
    transform: translateX(-50%) translateY(-50%) rotateZ(360deg);

  }
}
@keyframes colorChange {
  0% {
      border: 3px solid #012e30;
  }
  25%{
    border: 3px solid #e6e016;
  }
  50%{
    border: 3px solid #a10983;
  }
  75% {
    border: 3px solid #28bd10;
  }
}
