

:root {
	--h1-size: 30px;
	--text1-size: 18px;
	--text2-size: 14px;
	--text3-size: 12px
}

.container {
	max-width: none;
}

.choose-flat {
	padding: 40px 2.6% 100px 6.2%
}

.choose-flat__wrapper {
	margin-top: 20px
}

.choose-flat__filters {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 14px 40px;
	background-color: #40b8c8
}

.choose-flat__filters-block {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center
}

.choose-flat__filters-block:first-child {
	margin-right: 100px
}

.choose-flat__filters-title {
	margin-right: 35px;
	font-weight: bold;
	font-size: var(--text3-size);
	text-transform: uppercase
}

.choose-flat__filters-item {
	padding: 5px 10px;
	margin-right: 20px;
    margin-bottom: 0;
	font-weight: 500;
	font-size: var(--text3-size);
	text-align: center;
	text-transform: uppercase;
	border-radius: 20px;
	-webkit-transition: background-color 0.3s ease-out;
	transition: background-color 0.3s ease-out
}

.choose-flat__filters-item:last-child {
	margin-right: 0
}

.choose-flat__filters-item:hover {
	background-color: #045f71;
	cursor: pointer
}

.choose-flat__items {
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 36px;
	display: -ms-grid;
	display: grid;
	/* -ms-grid-columns: (17.9%)[5]; */
	grid-template-columns: repeat(5, 17.9%);
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	row-gap: 40px;
}

.choose-flat__item {
	border: 1px solid #dadada;
	padding: 23px 34px 34px 34px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	text-decoration: none;
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out
}

.choose-flat__item:hover img {
	-webkit-transform: scale(1.05);
	transform: scale(1.05)
}

.choose-flat__title {
	margin-bottom: 28px;
	font-weight: 500;
	font-size: var(--text1-size);
	line-height: 100%;
	text-align: center;
	color: #4a4a4a
}

.choose-flat__wrap {
	width: 100%;
	margin-top: 27px;
	font-weight: 500;
	font-size: var(--text2-size);
	line-height: 170%;
	color: #4a4a4a
}

.choose-flat__block {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center
}

.choose-flat__value {
	width: 30%
}

.choose-flat__btn {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	height: 46px;
	width: 100%;
	margin-top: 20px;
	background-color: #045f71;
	font-weight: 500;
	font-size: var(--text3-size);
	line-height: 100%;
	text-transform: uppercase;
	color: #ffffff;
	text-decoration: none;
	border-radius: 0;
}

.choose-flat__btn-2 {
	margin: 0 auto;
	margin-top: 40px;
	width: 250px
}

.choose-flat__btn-2 a {
	color: #ffffff;
	text-decoration: none;
	background-color: #40B8C8
}


.choose-flat__item img {
    width: 100%;
    height: auto;
    object-fit: contain;
    height: 240px;
    transition: .3s ease-in-out;
  }

  [data-cards-container]:empty:after {
    content: attr(data-empty-mes);
    color: #4A4A4A;
    font-size: 4rem;
    line-height: 100%;
    margin: auto;
    width: 100%;
    max-width: initial;
    display: block;
    grid-area: 1/1/3/5;
    padding: 20px 0;
    text-align: center;
  }

  .choose-flat__item {
    justify-content: flex-start;
  }

  .choose-flat__item img {
    margin-top: auto;
    margin-bottom: auto;
  }

  [data-filter-item] {
    display: none;
  }

  [data-filter-item]:checked~label {
    background-color: #fff;
    color: #4A4A4A;
    /* text-decoration: underline; */
  }
  .no-side-padding {
    padding-left: 0;
    padding-right: 0;
  }
  .fade-in-fwd {
    -webkit-animation: fade-in-fwd 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
            animation: fade-in-fwd 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  }
  @-webkit-keyframes fade-in-fwd {
    0% {
      -webkit-transform: translateZ(-80px);
              transform: translateZ(-80px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }
  @keyframes fade-in-fwd {
    0% {
      -webkit-transform: translateZ(-80px);
              transform: translateZ(-80px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }

.choose-flat__filters {
    flex-wrap: wrap;
}
.choose-flat__filters-item  {
	min-width: 28px;
	min-height: 28px;
}
.choose-flat__btn span,
.choose-flat__filters-title,
.choose-flat__filters-item {
    color: #fff;
    white-space: nowrap;
}
.filter-labels~.filter-labels {
    margin-left: 10px;
}


@media screen and (max-width:1680px){
    [data-cards-container] {
        column-gap: 20px;
        grid-template-columns: repeat(4, calc(25% - 20px));
    }
}
@media screen and (max-width:1240px){
    [data-cards-container] {
        column-gap: 20px;
        grid-template-columns: repeat(3, calc(33% - 20px));
    }
}
@media screen and (max-width:950px){
    [data-cards-container] {
        grid-template-columns: repeat(2, calc(50% - 20px));
    }
}
@media screen and (max-width:575px){
    [data-cards-container] {
        column-gap: 0;
        grid-template-columns: repeat(1, 100%);
    }

    .choose-flat__filters-block {
        flex-direction: column;
        align-items: flex-start;
    }
    .choose-flat__filters-title {
        margin: auto;
    }
    .choose-flat__filters-item:last-child,
    .choose-flat__filters-item  {
        margin: auto;
    }
    .choose-flat__filters-item:last-child,
    .choose-flat__filters-block>*~* {
        margin-top: 10px;
    }
    /* label.choose-flat__filters-item {
        width: 4ch;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
    } */
}

@media screen and (min-width:950px){
    .btn {
        transition: .3s ease-in-out;
    }
    .choose-flat__item:hover .btn{
        background-color: #fff;
        color: #4A4A4A;
    }
    .choose-flat__item:hover .btn span{
        /* background-color: #fff; */
        color: #4A4A4A;
    }
}
.contact-page {
	position: relative;
}
.contact-page:before {
	content: '';
	box-sizing: border-box;
	position: fixed;
	top: 50%;
	left: 50%;
	width: 120px;
	height: 120px;
	margin-top: -60px;
	margin-left: -60px;
	border-radius: 50%;
	border: 2px solid #ccc;
	border-top-color: #000;
	animation: spinner .6s linear infinite;
	opacity: 0;
	z-index: 101;
	pointer-events: none;

  }

  @keyframes spinner {
	to {transform: rotate(360deg);}
  }
.contact-page:after {
	position: fixed;
	content: '';
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	z-index: 100;
	background: rgba(5, 94, 112, 0.5);
	opacity: 0;
	transition: .3s ease-in-out;
	pointer-events: none;
}
.contact-page.pending:before{
	opacity: 1;
}