*::before,*::after{padding:0;margin:0;border:0;-webkit-box-sizing:border-box;box-sizing:border-box}html,body{padding:0;margin:0;border:0;-webkit-box-sizing:border-box;box-sizing:border-box;min-width:320px;font-family:Montserrat;font-style:normal;line-height:100%;color:#4a4a4a}:root{--h1-size: 30px;--text1-size: 18px;--text2-size: 14px;--text3-size: 12px}.section-title{margin-top:0;margin-bottom:0;font-weight:500;font-size:var(--h1-size);text-transform:uppercase}.single-flat__wrapper{padding:40px 2.6% 100px 6.2%}.single-flat{margin-top:20px;display:-ms-grid;display:grid;-ms-grid-columns:24% 48% 24%;grid-template-columns:24% 48% 24%;-webkit-column-gap:30px;column-gap:30px}.single-flat__left,.single-flat__right{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;background-color:#ffffff}.single-flat__left-wrapper{padding:36px 30px 0 30px;border-top:1px solid #dadada;border-left:1px solid #dadada;border-right:1px solid #dadada}.single-flat__left-item{width:100%;margin-bottom:50px}.single-flat__left-item-title{margin-bottom:20px;font-weight:500;font-size:var(--text1-size)}.single-flat__left-item-block{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center}.single-flat__left-item-block.mt10{margin-top:10px}.single-flat__left-item-svg{margin-right:20px;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;width:40px;height:40px;border-radius:50%;border:1px solid #dadada}.single-flat__left-item-svg svg{width:50%;height:50%}.single-flat__left-item-text{font-weight:normal;font-size:var(--text2-size);line-height:140%;color:#4a4a4a;text-decoration:none}.single-flat__left-item-socials{margin-top:10px;display:-webkit-box;display:-ms-flexbox;display:flex}.single-flat__left-item-socials-1,.single-flat__left-item-socials-2,.single-flat__left-item-socials-3{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;width:40px;height:40px;border-radius:50%}.single-flat__left-item-socials-1 svg,.single-flat__left-item-socials-2 svg,.single-flat__left-item-socials-3 svg{width:50%;height:50%}.single-flat__left-item-socials-1{background-color:#69e282;margin-right:20px}.single-flat__left-item-socials-2{background-color:#52a5e2;margin-right:20px}.single-flat__left-item-socials-3{background-color:#655fa4}.single-flat__img{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;border:1px solid #dadada}.single-flat__img img{width:auto;height:auto}.single-flat__right{padding:36px 25px;border:1px solid #dadada}.single-flat__info{margin-bottom:50px}.single-flat__info-top{margin-bottom:10px}.single-flat__info-title{font-weight:bold;font-size:var(--text2-size);line-height:170%}.single-flat__info-item{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;-webkit-box-align:center;-ms-flex-align:center;align-items:center;font-weight:normal;font-size:var(--text2-size);line-height:170%}.single-flat__info-value{width:30%}.single-flat__btn{margin-bottom:10px;height:46px;width:100%;background-color:#045f71;font-weight:500;font-size:var(--text3-size);line-height:100%;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;text-transform:uppercase;color:#ffffff;text-decoration:none}
/*# sourceMappingURL=style.min.css.map */

.single-flat {
    padding-left: 20px;
    padding-right: 20px;
    max-width: 1310px;
    margin: auto;
}
.section-title {
    max-width: 1310px;
    margin-left: auto;
    margin-right: auto;
}
.single-flat__img img {
    width: 100%;height: auto;
    padding: 25px;
    max-height: 80vh;
        object-fit: contain;
}

.section-title {
    padding-left: 20px;
}

.single-flat__left-item-svg {
    flex-shrink: 0;
}
.single-flat__left-item-socials>*{
    width: 40px;
    height: 40px;
    border: 1px solid #818181;
    border-radius: 50%;
    display: flex;
    align-items: center;justify-content: center;
}
.single-flat__left-item-socials svg {
    width: 50%;
    height: 50%;
}
.single-flat__left-item-socials {
    fill:#818181;
    margin-top: 25px;
}
@media screen and (max-width:1440px){
    .single-flat__right {
        padding-right: 25px;
        padding-left: 25px;
    }
    
}
@media screen and (max-width:1024px){
    .single-flat {
        display: flex;
        flex-direction: column;
    }
    .single-flat>* {
        margin-bottom: 30px;
    }
    .single-flat__right {
        order: -1;
    }
    .single-flat__img {
        order: -1;
    }
}