.title {
    h2 {
        color: $black-primary;
        font-size: 36px;
        font-weight: 500;
        text-align: center;
        text-transform: uppercase;
    }

    @media (max-width: 992px) {
        h2 {
            font-size: 22px;
            line-height: 30px;
        }
    }
}

.background-waves-box {
    background-image: none;
}

.container {
    position: relative;
    max-width: 1310px;
    margin: 0 auto;
    padding: 0 15px;
}

.aboutPage-intro {
    margin-top: 80px;

    .container {

        &:before {
            content: "";
            position: absolute;
            top: 30px;
            left: 50px;
            width: 95%;
            height: 100%;
            z-index: 1;
            background-image: url(../../images/image-border.png);
            background-repeat: no-repeat;
            background-size: 100% 90%;
        }
    }

    .img-wrapper {
        width: 100%;
        max-height: 574px;
        height: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .content-wrapper {
        padding-left: 30px;
        height: auto;

        .content-title {
            margin-left: -45px;
            position: relative;

            img {
                width: 290px;
                transform: rotateY(
                        -180deg
                );
            }

            span {
                position: absolute;
                bottom: 20px;
                left: 40px;
            }
        }

        &_desc {
            margin: 16px 0 80px 0;
        }
    }

    @media (max-width: 992px) {
        margin-top: 0;
        .container {
            &::before {
                left: 10px;
                width: calc(100% - 20px);
            }
        }
        .img-wrapper {
            position: relative;
            width: calc(100% + 30px);
            left: -15px;
            padding-right: 0;
            margin-bottom: 0;
        }
        .content-wrapper_desc {
            margin-bottom: 90px;

            p {
                font-size: 14px;
                line-height: 20px;
            }
        }
    }
}

.beforeAfter {
    margin-top: 50px;

    &-title {
        margin-bottom: 30px;
    }

    &_img {
        margin: 16px 0 15px;
        height: 396px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &_description {
        max-width: 412px;
        width: 100%;
        text-align: center;
        margin: 0 auto 46px;
        line-height: 22px;
    }

    @media (max-width: 992px) {
        margin-top: 0;
        &-title {
            margin-bottom: 0;
        }
    }

    @media (max-width: 540px) {
        &_img {
            height: 200px;
        }
        &_description {
            margin-bottom: 20px;
            font-size: 14px;
            line-height: 20px;
        }

    }
}

.benefits {
    &-title {
        margin-bottom: 30px;
    }

    &__row {
        margin-bottom: 40px;
    }

    &__item {
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        margin-left: 42px;

        &_desc {
            margin-top: 10px;
        }

        &_title {
            position: relative;
            width: fit-content;
            padding: 20px;
            margin-left: -20px;
            z-index: 2;

            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: url(../../images/about/wave.png) no-repeat;
                background-size: 100% 100%;
                transform: scale(-1, 1);
                z-index: -1;
            }
        }
    }

    @media (max-width: 992px) {
        margin-top: 40px;
        &-title {
            margin-bottom: 20px;
        }
        .benefits__item {
            margin-left: 0;
            margin-top: 10px;

            &_title {
                font-size: 20px;
                line-height: 24px;
            }
        }
    }
    @media (min-width: 992px) {
        .flex-lg-row-reverse {
            .benefits__item {
                margin-left: 0;
            }
        }
    }
}

.birthday {
    margin-top: 80px;

    &-subtitle {
        max-width: 624px;
        width: 100%;
        text-align: center;
        margin: 20px auto 30px;
    }

    .video {
        height: 686px;
    }
    @media (max-width: 1200px) {
        .video {
            height: 500px;
        }
    }
    @media (max-width: 720px) {
        .video {
            height: 350px;
        }
        .birthday-subtitle {
            margin: 15px auto 20px;
        }
    }
    @media (max-width: 540px) {
        .video {
            height: 200px;
        }
    }
}

.welcome {
    margin-top: 80px;
    .carousel {
        position: relative;
        margin-top: 40px;

        &:before {
            content: "";
            position: absolute;
            top: 15px;
            left: 15px;
            width: 100%;
            height: 112%;
            background-image: url(../../images/image-border.png);
            background-repeat: no-repeat;
            background-size: 100% 90%;
        }

        .sliderArrows {
            height: 40px;
            width: 40px;
            background-color: $blue;
            opacity: 1;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);

            &.carousel-control-next {
                right: -80px;
            }

            &.carousel-control-prev {
                left: -80px;
            }
        }
    }

    .carousel-item {
        height: 700px;

        img {
            height: 100%;
            object-fit: cover;
        }
    }

    @media (max-width: 992px) {
        margin-top: 20px;
        .carousel {
            margin-top: 20px;
            .sliderArrows {
                opacity: .8;

                &.carousel-control-next {
                    right: 15px;
                }

                &.carousel-control-prev {
                    left: 15px;
                }
            }

            .carousel-item {
                height: 500px;
            }
        }
    }
    @media (max-width: 540px) {
        .carousel {
            .carousel-item {
                height: 232px;
            }
        }
    }
}

.about-contacts {
    margin-top: 100px !important;
    margin-bottom: 80px;
    .contacts_data_list_item {
        margin-left: 15px;
        cursor: pointer;
        a {
            color: $black-primary;
            transition: all ease .3s;
        &:hover {
            color: $blue;
        }
        }
    }
    .contacts_form {
        .contacts_form_input {
            margin: 0;

        }
        .contacts_form_input_item {
            border: 1px solid #E7E7E7;
            padding: 14px 16px;
            margin-bottom: 15px;
            &::placeholder {
                font-size: 16px;
                letter-spacing: 0;
                line-height: 19px;
                color: #B1B1B1;
            }
        }
    }
    @media (max-width: 992px) {
        margin-top: 80px;
        margin-bottom: 20px;
        .contacts_form {
            margin-top: 40px;
        }
    }
}
