@keyframes animateHand {
	0% {
		transform: translateX(-15px);
	}
	50% {
		transform: translateX(15px);
	}
	100% {
		transform: translateX(-15px);
	}
}

.apartment-page {
	width: 100%;
	display: flex;
	flex-direction: column;

	.test-box {
		position: fixed;
		top: 0;
		left: 0;
		width: 2px;
		height: 2px;
		z-index: 99;
	}

	.main-box {
		display: flex;
		flex-direction: column;
		position: relative;
		height: 100%;
		flex-grow: 1;
		overflow-x: auto;
		overflow-y: hidden;

		&.isChanged {
			overflow: hidden;

			.image-box {
				&:before {
					z-index: 3;
					opacity: 1;
					transition-delay: 0s;
				}
			}

			.building-image, .layer-image {
				filter: blur(8px);
				transition-delay: 0s;
			}

			.bottom-nav {
				position: sticky;
				bottom: 0;
				margin-bottom: 15px;
			}
		}
	}

	.choose-box {
		position: fixed;
		top: 60px;
		right: 0;
		z-index: 2;
		width: 200px;
		transform: translateX(30px);
	}

	.wave-image {
		width: 100%;
	}

	.wave-text {
		@include textStyle($white, $montserrat, 18px, 500);
		position: absolute;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
		line-height: 18px;
		width: 100%;
		max-width: 160px;
		text-align: right;

		&.hide {
			display: none;
		}
	}

	.image-box {
		position: absolute;
		top: 0;
		left: 0;
		right: auto;
		bottom: 0;
		width: auto;
		max-height: 100%;

		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: rgba(0, 0, 0, 0.3);
			z-index: -1;
			opacity: 0;
			transition: all 0.5s cubic-bezier(0.25, 0.1, 0.25, 1) 1s;
		}
	}

	.building-image {
		width: auto;
		height: 100%;
		max-width: unset;
		transition: all 0.5s cubic-bezier(0.25, 0.1, 0.25, 1) 1s;
	}

	.tooltip-text {
		position: absolute;
		opacity: 0;
		visibility: hidden;
		color: $dark-green;
		padding: 5px 10px;
		border: 1px solid $dark-green;
		background-color: $white;
		transition: all 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
		z-index: 2;

		&.show {
			opacity: 1;
			visibility: visible;
		}
	}

	.layer-image {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
		transition: all 0.5s cubic-bezier(0.25, 0.1, 0.25, 1) 1s;

		[id*='_group'] {
			position: relative;


			[id*='section'] {
				position: relative;
				opacity: 0;
				transform: translateY(40px);
				transition: all 0.3s ease-out;

				&:before {
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					background-color: $white;
					z-index: -1;
				}
			}

			.st00, & > polygon {
				transition: all 0.4s cubic-bezier(0.25, 0.1, 0.25, 1);
			}

			path[id*='_x'] {
				position: absolute;
				opacity: 0;
				z-index: -1;

				&.visible {
					opacity: 0.25;
					fill: #ffc200;
				}
			}

			.st00:not([id*='_x']), & > polygon {
				position: relative;
				z-index: 1;
				opacity: 0;
				cursor: pointer;

				&:hover {
					opacity: 0.5;

					& ~ [id*='section'] {
						opacity: 1;
						transform: translateY(0);
					}
				}
			}
		}

		.st05, .st06, .st07 {
			@include textStyle($dark-green, $montserrat, 24px, 500);
			fill: $dark-green;
		}
	}

	.sub-section {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		position: sticky;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: -1;
		opacity: 0;
		visibility: hidden;
		width: 100vw;
		height: 100%;
		padding-top: 15px;
		padding-bottom: 30px;
		transition: all 0.5s cubic-bezier(0.25, 0.1, 0.25, 1) 0.5s;

		&.show {
			opacity: 1;
			visibility: visible;
			transition-delay: 0s;
			z-index: 5;
		}
	}

	.top-info {
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.right-box {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		display: flex;
		flex-direction: row-reverse;
		align-items: flex-start;
		justify-content: flex-end;
		opacity: 0;
		visibility: hidden;
		transform: translateY(-40px);
		transition: all 0.6s cubic-bezier(0.25, 0.1, 0.25, 1);
		z-index: 1;

		&.show {
			opacity: 1;
			visibility: visible;
			transform: translateY(0);
			transition-delay: 0.3s;
		}
	}

	.btn-back {
		position: relative;
		display: inline-flex;
		align-items: center;
		justify-content: flex-start;
		cursor: pointer;
		z-index: 2;

		img {
			transform: rotate(-90deg);
			margin-right: 5px;
		}

		span {
			color: $white;
			font-family: $montserrat;
			font-size: 15px;
			font-weight: 400;
			text-decoration: underline;
		}
	}

	.wave-wrap {
		position: absolute;
		top: -15px;
		right: -25px;
		width: 100%;
		min-width: 200px;
		max-width: 200px;

		.wave-image {
			width: 100%;
		}

		.wave-title {
			position: absolute;
			top: 50%;
			transform: translate(0, -50%);
			color: $white;
			font-family: $montserrat;
			font-size: 18px;
			font-weight: 500;
			line-height: 18px;
			text-align: center;
			width: 100%;
		}
	}

	.building-mini-wrap {
		position: relative;
		margin-top: 45px;
		width: 100%;
		min-width: 250px;
		max-width: 250px;

		img {
			width: 100%;
		}
	}

	.layer-mini-image {
		position: absolute;
		top: -20px;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 1;

		&>[id*='_x3'] {
			opacity: 0;
			transition: all 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);

			&.active {
				opacity: 1;
			}
		}
	}

	.download-link {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
		opacity: 0;
		visibility: hidden;
		transform: translateY(-40px);
		transition: all 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);

		&.show {
			opacity: 1;
			visibility: visible;
			transition-delay: 0.3s;
			transform: translateY(0);
		}

		span {
			color: $white;
			font-family: $montserrat;
			font-size: 14px;
			font-weight: 600;
		}

		img {
			width: 24px;
			margin-left: 10px;
		}
	}

	.row-section {
		position: relative;
	}

	.col-section {
		position: absolute;
		transform: translateY(-40px);
		opacity: 0;
		visibility: hidden;
		transition: all 0.6s cubic-bezier(0.25, 0.1, 0.25, 1);

		&.show {
			position: relative;
			transform: translateY(0);
			opacity: 1;
			visibility: visible;
			transition-delay: 0.5s;
		}

		&_floor {
			margin-top: 140px;

			.row {
				flex-direction: column-reverse;
			}
		}

		&_flat {
			margin-top: 30px;
		}
	}

	.flat-name {
		position: relative;
		width: 100%;
		max-width: 220px;
		margin: 0 auto 15px auto;

		img {
			width: 100%;
			height: 100%;
		}

		p {
			position: absolute;
			top: 50%;
			transform: translate(0, -50%);
			color: $white;
			font-family: $montserrat;
			font-size: 20px;
			font-weight: 600;
			width: 100%;
			text-align: center;
		}
	}

	.floor-list {
		width: 100%;
		max-width: 500px;
		height: 40px;
		margin: 30px auto 0 auto;
		display: flex;
		justify-content: space-between;

		&__item {
			display: flex;
			align-items: center;
			justify-content: center;
			max-width: 40px;
			padding: 5px;
			background-color: $white;
			border: 1px solid $dark-green;
			color: #4a4a4a;
			font-family: $montserrat;
			font-size: 14px;
			font-weight: 700;
			width: 100%;
			text-align: center;
			cursor: pointer;
			transition: all 0.3s ease-out;

			&:last-child {
				border-bottom: none;
			}

			&:hover {
				background-color: $dark-green;
				color: $white;
			}

			&.active {
				background-color: $dark-green;
				color: $white;
			}
		}
	}

	.flat-plan {
		width: 100%;
		height: 100%;
		max-height: 300px;
		margin-bottom: 30px;

		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}

	.flat-info-list {
		width: 100%;
		max-width: 200px;
		margin: 0 auto 20px auto;

		&__item {
			display: flex;
			justify-content: center;
			color: $white;
			font-size: 14px;
			font-weight: 400;
			line-height: 20px;
			margin-bottom: 10px;

			.title {
				color: inherit;
				font-size: inherit;
				line-height: inherit;
				font-weight: 600;
				margin-right: 5px;
			}
		}
	}

	.flat-btn {
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		border: 1px solid $blue;
		background-color: transparent;
		width: 100%;
		max-width: 160px;
		margin: 0 auto;
		height: 40px;
		color: $white;
		font-family: $montserrat;
		font-size: 14px;
		font-weight: 500;
		line-height: 13px;
		transition: all 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);

		&:hover {
			color: $black-primary;
			background-color: $blue;
		}
	}

	.floor-name {
		display: flex;
		justify-content: center;

		p {
			color: $white;
			font-family: $montserrat;
			font-size: 20px;
			font-weight: 600;
			margin-bottom: 15px;
		}
	}

	.plan-wrap {
		width: calc(100% + 30px);
		overflow-x: auto;
		overflow-y: hidden;
		margin-right: -15px;
		margin-left: -15px;
	}

	.floor-plan {
		position: relative;
		width: 550px;
		height: auto;

		svg, img {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			width: 100%;
			height: 100%;
		}

		.svg-plan {
			position: relative;
			z-index: 2;
		}

		.svg-substrate {
			width: 99.5%;
			margin: 0 0 0 auto;
			z-index: 0;
		}

		.svg-backlight {
			width: 99.5%;
			margin: 0 0 0 auto;
			z-index: 1;

			& > g {
				opacity: 1;
				transition: all 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);

				&.more-visible {
					opacity: 1;
				}
			}
		}

		.svg-backlight-transparent {
			z-index: 3;

			g {
				opacity: 0;
				cursor: pointer;
			}
		}
	}

	.bottom-nav {
		position: fixed;
		width: 100%;
		margin-bottom: 0;
		bottom: 90px;
		left: 0;
		right: 0;
		z-index: 5;

		.container {
			padding: 0 15px;
			justify-content: space-between;
			align-items: center;
		}
	}

	.hand-box {
		width: 42px;
		animation: animateHand 3s ease-out infinite 0s;

		&.hide {
			display: none;
		}

		img {
			width: 100%;
		}
	}

	.nav-image {
		img {
			transform: rotate(45deg);
		}
	}

	.floor-slide {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		&.hide {
			display: none;
		}

		&__arrow-top {
			img {
				width: 18px;
			}
		}

		&__text {
			@include textStyle($white, $montserrat, 14px, 700);
			padding: 10px 0;
		}

		&__arrow-bottom {
			img {
				width: 18px;
				transform: rotate(180deg);
			}
		}
	}

	.parameters-btn-wrap {
		display: flex;
		justify-content: center;
		padding: 15px 0;
	}

	.parameters-btn {
		display: block;
		width: 100%;
		margin: 0 auto;
		max-width: 220px;
		border: 1px solid $dark-green;
		padding: 9px 0 8px 0;
		color: $dark-green;
		font-family: $montserrat;
		font-size: 14px;
		font-weight: 500;
		background-color: $white;
		text-align: center;
	}
}

@media screen and (min-width: $media-md-up) {
	.apartment-page {
		.plan-wrap {
			width: 100%;
			height: 100%;
			max-height: 100%;
			margin-right: 0;
		}

		.layer-mini-image {
			top: -23px;
		}

		.floor-plan {
			width: 100%;
			height: 100%;
		}

		.right-box {
			flex-direction: row;
		}

		.wave-wrap {
			position: relative;
			top: 0;
			right: 0;
			min-width: 300px;
			max-width: 300px;
			transform: translateX(50px);
			z-index: -1;
			cursor: pointer;
		}

		.building-mini-wrap {
			margin-top: 0;
			min-width: 300px;
			max-width: 300px;
		}

		.row-flat-info {
			flex-direction: row-reverse;
		}

		.col-flat-info {
			display: flex;
			flex-direction: column;
			justify-content: center;
		}

		.sub-section {
			padding-top: 30px;
		}

		.flat-info-list {
			display: flex;
			flex-direction: column;
			justify-content: center;
			width: 100%;
			height: 100%;
			max-width: 100%;
			margin: 0;

			&__item {
				justify-content: center;
			}
		}

		.flat-btn {
			max-width: 220px;
		}
	}
}

@media screen and (min-width: $media-xl-up) {
	.apartment-page {
		padding-top: 0;

		.image-box {
			width: 100%;
			right: 0;
		}

		.main-box {
			height: calc(100vh - 70px);
		}

		.building-image {
			width: 100%;
			height: 100%;
			object-fit: contain;
			max-height: 100%;
		}

		.layer-mini-image {
			top: -25px;
		}

		.sub-section {
			width: 100%;
			overflow: auto;
			padding: 20px 0;


			.container {
				max-width: 1310px;

				&.container-top {
					margin-bottom: 0;
				}
			}
		}

		.top-info {
			margin-bottom: 0;

			.btn-back {
				margin-top: 20px;

				img {
					transform: rotate(0deg);
					margin-right: 15px;
				}
			}

			.wave-wrap {
				min-width: 300px;
				transform: translateX(65px);

				.wave-title {
					font-size: 16px;
					font-weight: 500;
					line-height: normal;
					text-transform: uppercase;
				}
			}

			.building-mini-wrap {
				min-width: 250px;
			}
		}

		.floor-name {
			justify-content: flex-start;

			p {
				font-size: 24px;
				font-weight: 500;
				line-height: 48px;
			}
		}

		.col-floor-list {
			align-items: center;
			justify-content: center;
		}

		.plan-wrap {
			position: relative;
			width: 100%;
			height: 500px;
		}

		.floor-plan {
			img, svg {
				height: 100%;
			}

			.svg-backlight {
				& > g {
					opacity: 1;

					[class*='st'] {
						transition: all 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
					}

					&.more-visible {
						[class*='st'] {
							fill: rgba(5, 94, 112, 0.5) !important;
						}
					}
				}
			}
		}

		.flat-info-list-wrap {
			flex-direction: column;
			width: 100%;
			height: auto;
			margin: 0 auto;
			max-width: 300px;
			background-color: $white;
		}

		.list-title {
			text-align: center;
			padding: 16px 20px 15px 20px;
			color: $white;
			background-color: $dark-green;
			font-family: $montserrat;
			font-size: 18px;
			font-weight: 500;
		}

		.flat-info-list {
			padding: 25px 40px 20px 40px;

			&__item {
				font-size: 18px;
				color: $black-primary;
				justify-content: flex-start;
				margin-bottom: 30px;


				&:last-child {
					margin-bottom: 0;
				}
			}
		}

		.flat-btn {
			&_list {
				color: $black-secondary;
				background-color: $blue;
				margin-bottom: 20px;
				min-height: 40px;
			}

			&_plan {
				margin: 0;
			}
		}

		.flat-bottom-row {
			justify-content: space-between;
			align-items: center;
		}

		.flat-name {
			max-width: 100%;
			margin-bottom: 0;
			transform: translateY(-50px);

			p {
				position: relative;
				transform: none;
				top: 0;
				font-size: 30px;
				font-weight: 500;
				line-height: 48px;
				text-align: left;
			}
		}

		.flat-plan {
			max-height: 400px;
		}

		.download-link {
			&.show {
				position: relative;
			}

			span {
				font-size: 18px;
				font-weight: 600;
			}

			img {
				width: 38px;
			}
		}

		.nav-image {
			width: 80px;
			opacity: 0.5;
			margin-right: 10px;

			img {
				width: 100%;
				transform: rotate(45deg);
			}
		}

		.floor-list {
			margin-top: 65px;
			max-width: 40px;
			height: auto;
			flex-direction: column;
			justify-content: flex-start;

			&__item {
				margin-bottom: 25px;
				height: 40px;
			}
		}

		.col-section {
			&_floor {
				margin-top: 60px;

				.row {
					flex-direction: row;
				}
			}

			&_flat {
				margin-top: 70px;
			}
		}
	}
}
