.building-page {
	padding: 75px 0 25px 0;
	overflow-x: hidden;

	.title-wrap {
		padding: 0;
		margin: 0 0 20px 0;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
	}

	.section-title {
		font-size: 20px;
		font-weight: 600;
		font-family: $montserrat;
		text-transform: uppercase;
	}

	.section-subtitle {
		opacity: 0.4;
		color: #1c1c1c;
		font-size: 12px;
		font-weight: 400;
		font-family: $montserrat;
	}

	.row-top {
		padding-bottom: 0;
		margin-bottom: 30px;
	}

	.row-status {
		padding: 0;
		margin-bottom: 40px;
	}

	.percent-wrap {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.percent-status {
		opacity: 0.5;
		@include textStyle($blue, $montserrat, 64px, 700);
	}

	.camera-wrap {
		position: relative;
		top: 0;
		left: -30px;
		width: 215px;
		height: 70px;

		&__wave-image {
			width: 100%;
			height: 100%;
			object-fit: contain;
			object-position: center;
		}

		.camera-link {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			font-size: 14px;
			color: $white;
			position: absolute;
			top: 50%;
			left: 50px;
			transform: translate(0, -50%);

			.camera-icon {
				margin-right: 5px;
			}
		}
	}

	.building-image-wrap {
		position: relative;
		z-index: 2;
		width: 265px;
		left: -20px;
		top: -25px;
	}

	.building-image {
		position: relative;
		z-index: 0;
		opacity: 0.3;
		width: 100%;
		margin: 0 0 0 auto;
	}

	.building-status-wave {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 1;
		width: 100%;
		height: 0;
		overflow: hidden;
		@include animateBlock(height, 1.5s, 0s);

		&:before {
			content: '';
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			opacity: 1;
			width: 100%;
			height: 75px;
			background-position: center;
			background-repeat: no-repeat;
			background-size: 100% 100%;
			background-image: url('../../images/building/status-building.png');
			mask-image: url('../../images/building/status-building.png');
			mask-repeat: no-repeat;
			mask-position: center;
			mask-size: cover;
		}

		&.started {
			height: 0;
		}
	}

	.status-line-wrap {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: stretch;
		z-index: 10;
	}

	.line-wrap {
		position: relative;
		width: 100%;
		max-width: 225px;
	}

	.status-line {
		position: relative;
		width: 100%;
		max-width: 250px;
		margin: -15px auto 0 auto;

		&.last {
			.line-wrap {
				height: 76px;
			}

			.line-image {
				object-fit: contain;
				object-position: bottom left;
			}

			.line-image-fill {
				object-fit: contain;
				object-position: bottom left;
			}
		}

		&_even {
			.line-wrap {
				margin: 0 0 0 auto;
				transform: rotateY(-180deg) rotateX(-180deg);
			}

			.status-icon {
				right: -45px;

				.status-tooltip {
					left: auto;
					right: 0;

					&:before {
						right: 15px;
					}
				}
			}

			.status-percent {
				right: -45px;
				top: 35px;
			}
		}

		&_odd {
			.line-wrap {
				margin: 0 auto 0 0;
			}

			.status-icon {
				left: -45px;

				.status-tooltip {
					left: 0;

					&:before {
						left: 15px;
					}
				}
			}

			.status-percent {
				top: 35px;
				left: -45px;
			}
		}
	}

	.status-icon {
		position: absolute;
		top: 0;
		width: 36px;
		height: 36px;
		margin: 0 auto;

		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}

	.status-tooltip {
		position: absolute;
		top: 100%;
		z-index: 3;
		padding: 10px 25px;
		color: $dark-green;
		font-size: 14px;
		font-weight: 400;
		text-align: left;
		background-color: $white;
		border: 1px solid $blue;
		text-transform: none;
		width: 300px;

		opacity: 0;
		visibility: hidden;
		transform: translate(0, 30px);
		transition: all 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);

		ul {
			margin: 20px 0;
			padding-left: 30px;

			li {
				list-style: disc;
			}
		}

		p {
			margin-bottom: 20px;
		}

		&:before {
			content: '';
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0 10px 10px;
			border-color: transparent transparent $blue transparent;
			position: absolute;
			top: -10px;
		}
	}

	.status-icon, .status-name {
		&:hover {
			.status-tooltip {
				opacity: 1;
				visibility: visible;
				transform: translate(0, 10px);
			}
		}
	}

	.status-percent {
		position: absolute;
		opacity: 0.3;
		color: $black-primary;
		font-family: $montserrat;
		font-size: 18px;
		font-weight: 600;
		text-align: center;
	}

	.line-image {
		width: 100%;
		height: 100%;
	}

	.line-image-fill {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 0;
		height: 100%;
		z-index: 1;
		object-fit: cover;
		object-position: center left;
		transition: width 1.5s cubic-bezier(0.25, 0.1, 0.25, 1);

		&.started {
			width: 0;
		}
	}

	.row-building-cards {
		padding: 0 5px;
		margin-bottom: 5px;

		.col-building {
			margin-bottom: 30px;
		}

		.building-box {
			box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);

			.image-box {
				width: 100%;
				height: 180px;

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}

			.info-box {
				background-color: $white;
				padding: 10px;

				&__title {
					@include textStyle($black-primary, $montserrat, 14px, 600);
					margin-bottom: 5px;
				}

				&__desc {
					p {
						@include textStyle($black-primary, $montserrat, 12px, 400);
						overflow: hidden;
						text-overflow: ellipsis;
						display: -webkit-box;
						-webkit-box-orient: vertical;
						-webkit-line-clamp: 2;
						line-height: 1.5;
					}
				}
			}
		}

		.btn-box {
			margin-top: 15px;
			display: flex;
			flex-direction: row;
			justify-content: center;

			&__more {
				display: flex;
				flex-direction: column;
				align-items: center;

				span {
					@include textStyle($black-primary, $montserrat, 15px, 400);
					opacity: 0.3;
				}
			}
		}
	}
}

@media screen and (min-width: $media-md-up) {
	.building-page {
		padding: 90px 0 30px 0;

		.camera-wrap, .building-image-wrap {
			margin: 0 0 0 auto;
			left: 0;
		}

		.status-box-line {
			width: 100%;
			max-width: 650px;
			margin: 0 auto;
		}

		.row-building-cards {
			padding: 0;

			.col-6 {
				padding: 0 15px !important;
				margin-bottom: 15px !important;
			}

			.building-box {
				.image-box {
					height: 230px;
				}
			}
		}
	}
}

@media screen and (min-width: $media-lg-up) {
	.building-page {
		padding-top: 80px;

		.title-wrap {
			justify-content: center;
			height: 100%;
		}

		.percent-wrap {
			width: 100%;
			display: flex;
			justify-content: center;
		}

		.status-box-line {
			max-width: 850px;
		}
	}
}

@media screen and (min-width: $media-xl-up) {
	.building-page {
		padding: 70px 0 30px 50px;

		.title-wrap {
			margin: 0 0 50px 0;
			height: auto;
		}

		.section-title {
			@include textStyle($black-primary, $montserrat, 28px, 600);
			text-transform: uppercase;
			margin-bottom: 5px;
		}

		.section-subtitle {
			@include textStyle($black-primary, $montserrat, 20px, 400);
		}

		.row-top {
			margin-bottom: 100px;
		}

		.camera-wrap {
			position: absolute;
			top: 50%;
			left: auto;
			right: 435px;
			width: 300px;
			transform: translateY(-50%);
			height: auto;

			&__wave-image {
				width: 100%;
				height: 100%;
			}

			.camera-link {
				font-size: 16px;
				width: 100%;
				left: 0;
				justify-content: center;
			}
		}

		.building-image-wrap {
			width: 100%;
			max-width: 450px;
			top: 50%;
			transform: translateY(-50%);
		}

		.building-status-wave {
			&:before {
				height: 126px;
			}
		}

		.row-status {
			width: 100%;
			max-width: 1100px;
			margin: 0 auto 80px auto;
			padding-bottom: 50px;
		}

		.status-number {
			position: absolute;
			bottom: 10px;
			left: 50%;
			transform: translate(-50%, 0);
			@include textStyle($white, $montserrat, 50px, 500);
			text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.8);
			z-index: 2;

			span {
				@include textStyle(inherit, inherit, inherit, inherit);
			}
		}

		.row-building {
			.title-box {
				margin-top: 0;
				margin-bottom: 50px;
			}
		}

		.slider-box {
			position: relative;
			width: 100%;

			.building-slider {
				padding: 15px 15px 40px 15px;

				.swiper-slide {
					position: relative;
					padding: 5px;
					transition: transform 1s cubic-bezier(0.25, 0.1, 0.25, 1), box-shadow 1s cubic-bezier(0.25, 0.1, 0.25, 1), border 1s cubic-bezier(0.25, 0.1, 0.25, 1);
					box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
					transform: scale(1);
					overflow: hidden;
					cursor: pointer;

					&:before {
						content: '';
						position: absolute;
						top: 0;
						left: 0;
						right: 0;
						bottom: 0;
						z-index: -1;
						opacity: 0;
						transition: opacity 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
						background: {
							image: url('../../images/building/image-progress-border.png');
							repeat: no-repeat;
							size: 100% 100%;
						}
					}

					&:hover {
						box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
						transform: scale(1.05);

						&:before {
							opacity: 1;
						}

						.info-box {
							.info-box__btn-more {
								transform: translate(-50%, 0);
								opacity: 1;
								visibility: visible;
							}
						}
					}

					.image-box {
						width: 100%;
						height: 270px;

						img {
							width: 100%;
							height: 100%;
							object-fit: cover;
						}
					}

					.info-box {
						background-color: $white;
						padding: 10px 20px;

						&__title {
							@include textStyle($black-secondary, $montserrat, 20px, 400);
							margin-bottom: 20px;
						}

						&__desc {
							@include textStyle($black-secondary, $montserrat, 14px, 400);
							margin-bottom: 25px;
						}

						&__btn-more {
							@include textStyle($white, $montserrat, 16px, 400);
							padding: 8px 20px;
							background-color: $blue;
							text-align: center;
							width: 100%;
							max-width: 236px;
							margin: 0 auto;
							position: relative;
							left: 50%;
							transform: translate(-50%, 40px);
							visibility: hidden;
							opacity: 0;
							@include animateBlock(all, 1s, 0s);
						}
					}
				}

				.swiper-arrow {
					background-image: none;
					top: unset;
					bottom: -10px;
					width: 110px;
					height: 30px;
					margin-top: 0;
					z-index: 15;
					display: flex;
					flex-direction: row;
					align-items: center;
					cursor: pointer;

					&.prev {
						left: 25%;
					}

					&.next {
						right: 25%;
					}

					img {
						width: 100%;
						height: auto;
					}
				}

				.swiper-pagination {
					position: absolute;
					bottom: 0;
					left: 0;
					right: 0;
					margin-top: 0;
					display: flex;
					flex-direction: row;
					justify-content: center;

					.swiper-pagination-bullet {
						width: 10px;
						height: 10px;
						background-color: #fff;
						opacity: 1;
						border: 1px solid #055e70;
						margin-right: 20px;
						margin-left: 0;

						&:last-child {
							margin-right: 0;
						}

						&.swiper-pagination-bullet-active {
							background: #055e70;
						}
					}
				}
			}
		}

		.status-line-wrap {
			flex-direction: row;
			justify-content: center;
			align-items: center;
		}

		.line-wrap {
			position: relative;
			max-width: 100%;
			margin: 0 !important;
		}

		.status-line {
			position: relative;
			max-width: 100%;
			margin: 0 -3px 0 0;

			&.last {
				width: 17px;
				min-width: 17px;

				.line-wrap {
					height: 100%;
				}
			}

			&_even {
				z-index: 2;
				.line-wrap {
					transform: translateY(5px);
				}

				.status-name {
					top: -75px;
					left: 0;
					flex-direction: column;
				}

				.status-icon {
					right: 0;
					margin-bottom: 5px;
				}

				.status-percent {
					top: unset;
					right: unset;
					left: 0;
					bottom: -30px;
				}
			}

			&_odd {
				z-index: 1;
				.status-name {
					bottom: -75px;
					left: 0;
					flex-direction: column-reverse;
				}

				.status-icon {
					left: 0;
					margin-top: 5px;
				}

				.status-percent {
					top: -30px;
					left: 0;
				}
			}
		}

		.status-name {
			position: absolute;
			display: flex;
			align-items: center;
			transform: translateX(-50%);
			text-align: center;
			cursor: pointer;
		}

		.status-icon {
			position: relative;
			min-width: 36px;
		}

		.status-text {
			color: $black-primary;
			font-family: $montserrat;
			font-size: 12px;
			font-weight: 600;
			text-transform: uppercase;
		}

		.status-tooltip {
			left: 50%;
			transform: translate(-50%, 30px);

			&:before {
				top: -10px;
				left: 50%;
				transform: translateX(-50%);
			}
		}

		.status-icon, .status-name {
			z-index: 1;

			&:hover {
				.status-tooltip {
					transform: translate(-50%, 10px);
				}
			}
		}

		.status-percent {
			transform: translateX(-20%);
			font-size: 12px;
		}
	}
}
