.promoContainer {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.promo {
    height: 540px;
    width: 100%;
}

.promo_photo {
    position: absolute;
    left: 0;
    top: 0;
    width: 794px;
    height: 530px;
    display: block;
    z-index: 3;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transform: translateX(-8%);
    }
}

.promo_descr {
    width: 1006px;
    height: 410px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 0;
    border: solid 2px;
    border-image: url(../../images/club/icons/big_border.svg);
    border-image-slice: 20;
    border-image-width: 20;
}

.promo_descr_upper {
    width: 400px;
    height: 130px;
    background: url(../../images/club/wave.png) center (center / contain) no-repeat;
    margin-left: 422px;
    margin-bottom: 20px;
}

.promo_descr_upper_text {
    margin-top: 10px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 16px;
    padding-top: 60px;
    padding-left: 70px;
    color: white;
}

.promo_descr_header {
    width: 480px;
    height: 88px;
    margin-left: 486px;
    margin-bottom: 20px;

    p {
        font-size: 36px;
        font-weight: 500;
        line-height: 44px;
        text-transform: uppercase;
        margin-bottom: 0;
    }
}

.promo_descr_lower {
    width: 480px;
    height: 44px;
    margin-left: 486px;
    margin-bottom: 0;
    margin-top: 0;

    p {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 0;
    }
}

.promo_descr_consult {
    width: 263px;
    height: 48px;
    background-color: #00B7C5;
    margin-left: 486px;

    button {
        text-decoration: none;
        color: white;
        width: 264px;
        padding: 14px 30px;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
    }
}

.advantages {
    margin-top: 50px;
}

.advantages_header {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 36px;
    margin-bottom: 30px;
}

.advantages_panel {
    width: 317px;
    height: 163px;
    border: 4px solid;
    border-image: url(../../images/club/icons/big_border_2.svg);
    border-image-slice: 20;
    margin-bottom: 30px;
}

.advantages_panel_header {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 8px;
    margin-left: 20px;
}

.advantages_panel_subheader {
    font-weight: normal;
    font-size: 14px;
    margin-left: 20px;
}

.advantages_panel_icon {
    margin: 20px 0px 17px 20px;

    &.icon1 {
        background-image: url(../../images/club/icons/advant1.svg);
        width: 46px;
        height: 40px;
    }

    &.icon2 {
        background-image: url(../../images/club/icons/advant2.svg);
        width: 27px;
        height: 40px;
    }

    &.icon3 {
        background-image: url(../../images/club/icons/advant3.svg);
        width: 47px;
        height: 39px;
    }

    &.icon4 {
        background-image: url(../../images/club/icons/advant4.svg);
        width: 37px;
        height: 40px;
    }

    &.icon5 {
        background-image: url(../../images/club/icons/advant5.svg);
        width: 39px;
        height: 35px;
    }

    &.icon6 {
        background-image: url(../../images/club/icons/advant6.svg);
        width: 44px;
        height: 40px;
    }

    &.icon7 {
        background-image: url(../../images/club/icons/advant7.svg);
        width: 56px;
        height: 40px;
    }

    &.icon8 {
        background-image: url(../../images/club/icons/advant8.svg);
        width: 39px;
        height: 40px;
    }

    &.icon9 {
        background-image: url(../../images/club/icons/advant9.svg);
        width: 39px;
        height: 40px;
    }
}

.style_header {
    text-align: center;
    font-size: 36px;
    font-weight: 500;
    margin-top: 80px;
}

.panel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;

    &:nth-last-of-type(2) {
        flex-direction: row-reverse;
    }
}

.panel_image {
    width: 490px;
    height: 334px;

    img {
        width: 100%;
        height: 100%;
    }
}

.panel_text {
    width: 460px;
    margin-top: 60px;
}

.panel_text_number {
    font-size: 60px;
    color: #72B9C6;
    font-weight: 700;
}

.panel_text_header {
    font-size: 26px;
    font-weight: 500;
}

.panel_text_subheader {
    font-size: 16px;
    font-weight: 400;
}

#gallery {
    height: 1000px;
}

.photogallery_header {
    text-align: center;
    margin-top: 76px;
    margin-bottom: 40px;
    font-size: 36px;
    text-transform: uppercase;
}

.photogallery_border {
    position: relative;
    width: 100%;
    height: 810px;
    border: 4px solid;
    border-image: url(../../images/club/icons/big_border_2.svg);
    border-image-slice: 20;
    border-image-width: 8;
    bottom: 780px;
    left: 30px;
}

.carousel {
    margin: 0 auto;
    width: 100%;
    position: relative;
    z-index: 2;

    img {
        height: 810px;
    }
}

.layouts-header {
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 500;
    margin: 0 auto;
    margin-bottom: 25px;
}

.layout {
    width: 317px;
    height: 413px;

    img {
        width: 100%;
        height: 100%;
    }
}

.layout-name {
    width: 317px;
    margin: 25px 0;
    font-size: 20px;
    font-weight: 500;
}

.layout-numbers_data {
    list-style: none;
    display: flex;
    flex-direction: row;
    width: 317px;
    justify-self: center;
}

.layout-numbers_data_item1, .layout-numbers_data_item2 {
    font-size: 16px;
}

.layout-numbers_data_item1 {
    margin-right: 70px;

    &::marker {
        width: 20px;
        height: 20px;
        content: url(../../images/club/icons/size.svg);
    }
}

.layout-numbers_data_item2::marker {
    width: 20px;
    height: 20px;
    content: url(../../images/club/icons/money.svg);
}

.layout-numbers_finalcost {
    font-size: 20px;

    span {
        color: #72B9C6;
        font-weight: 700;
    }
}

.sqm {
    font-size: 12px;
}

.xtraspc {
    position: relative;
    left: 10px;
    top: -5px;
}

.xtraspc-contacts {
    position: relative;
    left: 10px;
}

.contacts_data_header {
    font-size: 36px;
    font-weight: 500;
}

.contacts_data_list {
    list-style: none;
    margin-top: 30px;

    .item1::marker {
        content: url(../../images/club/icons/phone.svg);
    }

    .item2::marker {
        content: url(../../images/club/icons/time.svg);
    }

    .item3::marker {
        content: url(../../images/club/icons/location.svg);
    }

    .item4::marker {
        content: url(../../images/club/icons/mail.svg);
    }

    li {
        font-size: 20px;
        margin-top: 25px;
    }
}

.contacts_form_header {
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 30px;
}

.contacts_form_input_item {
    width: 491px;
    height: 48px;
    border-radius: 0;
    border-color: rgba(0, 0, 0, 0.2);
}

.contacts_form_input_submit {
    width: 491px;
    height: 48px;
    border-radius: 0;
    border-color: rgba(0, 0, 0, 0.2);
    background-color: #00B7C5;
    color: white;
    font-size: 16px;
}

#contacts {
    margin-top: 80px;
}

@media (max-width: 1399px) {
    .promo {
        height: 450px;
        left: 100px;
    }

    .promo_photo {
        img {
            width: 80%;
            height: 85%;
        }
    }

    .promo_descr {
        left: 120px;
        right: 0;
        margin: 0 auto;
    }

    .advantages {
        margin-top: 60px;
    }

    .contacts_form_input_item, .contacts_form_input_submit {
        width: 440px;
    }
}

@media (max-width: 1199px) {
    .promo_photo {
        transform: translateX(3%);
        margin-left: 0;
    }

    .promo_descr {
    }

    .panel_text {
        margin-left: 20px;
    }

    .contacts_form_input_item, .contacts_form_input_submit {
        width: 340px;
    }
}

@media (max-width: 991px) {
    .promo {
        height: 1010px;
        transform: translateX(0);
    }

    .promo_photo {
        margin: 0 auto;
        display: block;
        height: 530px;
        width: 100%;
        top: 0;

        img {
            padding-left: 10%;
            width: 90%;
            height: 100%;
            transform: translateX(-4%);
        }
    }

    .promo_descr {
        margin-top: 250px;
        left: 0;
        display: block;
        width: 100%;
        height: 450px;

        p {
            width: 400px;
        }
    }

    .promo_descr_upper {
        margin-left: 200px;
    }

    .promo_descr_header {
        margin-left: 200px;

        p {
            font-size: 20px;
        }
    }

    .promo_descr_lower {
        margin-left: 200px;
        margin-bottom: 50px;

        p {
            font-size: 14px;
        }
    }

    .promo_descr_consult {
        margin-left: 200px;
    }

    .advantages_header {
        font-size: 24px;
        margin-top: 30px;
    }

    .panel_text {
        margin-top: 30px;
    }

    .panel_text_number {
        font-size: 40px;
    }
}

@media (max-width: 767px) {
    .promo {
        height: 1010px;
        width: 100%;
    }

    .promo_photo {
        width: 100%;
        padding-left: 0;
        height: 530px;

        img {
            width: 100%;
            padding-left: 0;
            transform: translateX(-3%);
        }
    }

    .promo_descr {
        width: 90%;
    }

    .promo_descr_header, .promo_descr_lower, .promo_descr_consult {
        margin: 0 200px;
    }

    .promo_descr_header {
        font-size: 30px;
        font-weight: 700;
    }

    .promo_descr_consult {
        margin-top: 50px;
    }

    .advantages_header {
        text-align: center;
        margin-top: 100px;
    }

    .panel {
        flex-direction: column;

        &:nth-last-of-type(2) {
            flex-direction: column;
        }
    }

    .panel_image {
        width: 100%;
    }

    .panel_text {
        width: 100%;
        margin-left: 0;
    }

    .carousel img {
        height: 450px;
    }

    #gallery {
        height: 650px;
    }

    .photogallery_border {
        height: 450px;
        bottom: 420px;
    }

    .layout {
        margin-top: 30px;
    }

    .contacts_data_header {
        text-align: center;
    }

    .contacts_form_input_item, .contacts_form_input_submit {
        width: 100%;
    }
}

@media (max-width: 575px) {
    .promo {
        max-height: 830px;
    }

    .promo_photo {
        position: static;
    }

    .promo_descr {
        position: relative;
        top: -100px;
        left: 0;
        max-height: 300px;
    }

    .promo_descr_upper {
        margin: 0 auto;
        position: absolute;
        top: -110px;
        font-size: 16px;
        width: 100%;
    }

    .promo_descr_header {
        width: 100%;
        padding-top: 30px;
        margin: 0 auto;

        p {
            font-size: 22px;
            width: 90%;
            padding-left: 5%;
        }
    }

    .promo_descr_lower {
        padding-top: 30px;
        margin: 0 auto;
        width: 100%;
        height: auto;

        p {
            font-size: 16px;
            width: 100%;
            padding: 0 3%;
        }
    }

    .promo_descr_consult {
        padding-top: 10px;
        margin-top: 0;
        width: 300px;
        height: 60px;
        font-size: 20px;
        position: relative;
        left: 0;
        top: 0;
        margin-right: 0;
        margin-left: 3%;

        p {
            font-size: 16px;
            width: 100%;
            padding-left: 5%;
        }
    }

    .advantages {
        margin-top: 0;
    }

    .advantages_header {
        height: 30px;
        font-size: 22px;
        font-weight: 500;
    }

    .advantages_list, .advantages_panel {
        width: 100%;
    }

    .style_header {
        font-size: 22px;
    }

    .panel_text_subheader {
        font-size: 14px;
    }

    .photogallery_border {
        left: 12px;
    }

    .photogallery_header, .layouts-header {
        font-size: 22px;
    }

    .panel-layouts {
        width: 100%;
    }

    .layout {
        width: 100%;
        height: 550px;
    }

    .layout-name, .layout-numbers {
        width: 100%;
    }

    .layout-name {
        font-size: 20px;
    }

    .layout-numbers_data {
        width: 100%;
    }

    .layout-numbers_data_item1, .layout-numbers_data_item2 {
        font-size: 16px;
    }

    .layout-numbers_finalcost {
        font-size: 20px;
    }

    .sqm {
        font-size: 12px;
    }

    .contacts_data_header {
        text-align: left;
        font-size: 22px;
    }

    .contacts_data_list_item {
        font-size: 16px;
    }

    .contacts_form_header {
        font-size: 22px;
    }

    .contacts_form input {
        height: 65px;
        font-size: 14px;
    }
}
