// breakpoints
$media-xl-down: 1199.98px;
$media-lg-down: 991.98px;
$media-md-down: 767.98px;
$media-sm-down: 575.98px;
$media-xl-up: 1200px;
$media-lg-up: 992px;
$media-md-up: 768px;
$media-sm-up: 576px;

// colors
$black-primary: #1c1c1c;
$black-secondary: #4a4a4a;
$white: #ffffff;
$blue: #00B7C5;
$dark-green: #055e70;

// fonts
$montserrat: 'Montserrat', sans-serif;
$bebas: 'Bebas Neue', sans-serif;

@mixin textStyle ($color, $font-family, $font-size, $font-weight) {
	color: $color;
	font-family: $font-family;
	font-size: $font-size;
	font-weight: $font-weight;
}

@mixin flex($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin animateBlock ($property, $duration, $delay) {
	transition: $property $duration cubic-bezier(0.25,0.1,0.25,1) $delay;
}
