.contact-page {
	padding: 80px 0 45px 0;
	overflow-x: hidden;

	p {
		color: $black-primary;
		font-size: 14px;
		font-weight: 400;
	}

	.row-info {
		margin: 20px 0;
	}

	.section-title {
		position: absolute;
		display: flex;
		width: auto;
		margin-bottom: 0;
		top: -10px;
		left: -45px;
		z-index: 1;

		img {
			width: 270px;
		}

		span {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			font-size: 20px;
			color: $white;
			font-weight: 600;
			text-transform: uppercase;
		}
	}

	.section-sub-title {
		font-size: 18px;
		color: $black-primary;
		font-weight: 600;
		text-align: center;
		margin-bottom: 20px;
	}

	.image-wrap {
		position: relative;
		width: 100%;
		height: auto;
		max-height: 100%;
		margin-top: 50px;
		margin-bottom: 30px;
	}

	.sales-department-image {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}

	.sales-department-title {
		position: absolute;
		bottom: 15px;
		left: 25px;
		color: $white;
		font-size: 16px;
		font-weight: 500;
		z-index: 1;
	}

	.info-title {
		color: $black-primary;
		font-size: 20px;
		font-weight: 400;
		text-align: left;
		margin-bottom: 20px;
	}

	.phones-wrap {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 20px;

		img {
			width: 16px;
			margin-right: 10px;
		}
	}
	
	.phone-number {
		display: flex;
		align-items: center;
		font-family: $bebas !important;
		font-size: 60px;
		font-weight: 400;
		color: $dark-green;
		line-height: normal;
		
		span {
			color: $blue;
			font-size: 20px;
			font-weight: 500;
		}
	}

	.mail-wrap {
		position: relative;
		width: 100%;
		max-width: 350px;
		margin: 0 auto 15px auto;

		.wave-img {
			width: 100%;
		}
	}

	.mail {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		color: $white;
		font-size: 20px;
		font-weight: 500;
	}

	.btn-modal {
		display: block;
		width: 100%;
		max-width: 240px;
		margin: 0 auto 30px auto;
		height: 40px;
		text-align: center;
		background-color: $blue;

		.btn-text {
			color: $white;
			font-size: 14px;
			font-weight: 400;
			line-height: 15px;
		}
	}

	.socials-wrap {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		width: 100%;
		margin-bottom: 30px;
	}

	.social-link {
		margin-right: 45px;

		&:last-child {
			margin-right: 0;
		}

		&:hover {
			.social-icon {
				opacity: 1;
				fill: $dark-green;
			}
		}
	}

	.social-icon {
		width: auto;
		height: 30px;
		opacity: 0.2;
		transition: all 0.4s cubic-bezier(0.25, 0.1, 0.25, 1);
	}

	.col-map {
		position: relative;
		padding: 0;

		.image-border {
			position: absolute;
			top: 10px;
			left: 10px;
			right: 0;
			bottom: 0;
			width: 100%;
			height: 100%;
			pointer-events: none;
			z-index: 1;
		}

		iframe {
			width: 100%;
			height: 450px;
		}
	}
}

@media screen and (min-width: $media-lg-up) {
	.contact-page {
		.row-contact {
			position: relative;
			margin-top: 30px;
		}

		.section-title {
			top: -40px;
			left: -70px;

			img {
				width: 330px;
			}

			span {
				font-size: 28px;
			}
		}

		.col-map {
			margin-top: 50px;
			padding: 0 15px;
		}

		.image-wrap {
			height: 100%;
			margin: 0;
		}

		.sales-department-image {
			object-fit: cover;
		}

		.btn-modal {
			margin: 0 auto 30px 0;
		}

		.phones-wrap {
			justify-content: flex-start;
			transform: translateX(-25px);
		}

		.mail-wrap {
			margin: 0 auto 15px 0;
			transform: translateX(-65px);
		}

		.socials-wrap {
			justify-content: flex-start;
			margin-bottom: 0;
		}
	}
}

@media screen and (min-width: $media-xl-up) {
	.contact-page {
		p {
			font-size: 20px;
		}

		.image-wrap {
			height: auto;
			max-height: 100%;
		}

		.section-title {
			font-size: 28px;
			margin-bottom: 20px;
		}

		.section-sub-title {
			font-size: 20px;
		}

		.section-title-wave {
			margin-top: -50px;
			width: 340px;

			.title-text {
				font-size: 16px;
			}
		}

		.row-top {
			margin-bottom: 50px;
		}

		.row-info {
			margin-bottom: 0;
		}

		.col-info {
			&_right {
				margin-top: 20px;
			}
		}

		.btn-modal {
			margin-bottom: 45px;
		}
	}
}
