* {
	box-sizing: border-box;
	font-family: $montserrat !important;
	color: $black-primary;
}

body {
	display: flex;
	position: relative;
	margin: 0;
	padding: 0;

	&.isMenuOpened {
		overflow: hidden;
	}
}

main {
	flex: 1 0;
	padding-top: 60px;
	position: relative;
	min-height: 100vh;
	transition: filter 0.5s ease-out;

	&.isMenuOpened {
		filter: blur(10px);
	}

	@media screen and (min-width: $media-xl-up) {
		padding-top: 0;
	}
}

h1, h2, h3, h4, h5, h6, a, p, button, input, textarea, ul, li {
	text-decoration: none;
	padding: 0;
	margin: 0;
	box-shadow: none;
	border: none;
	background-color: transparent;
	outline: none;
	list-style: none;

	&:hover, &:focus {
		text-decoration: none;
		color: $black-primary;
		box-shadow: none;
		outline: none;
	}
}

img {
	display: block;

	&.lazy-img {
		opacity: 1;
		transition: opacity 0.3s ease-out 0.8s;
	}
}

.lazy-img[data-src] {
	opacity: 0;
}

.button-wave {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 100%;
	height: 40px;

	&:hover {
		.wave-img {
			background-position: left bottom;
		}
	}

	.wave-img {
		display: block;
		position: absolute;
		top: 50%;
		left: 0;
		right: 0;
		transform: translateY(-50%);
		width: 100%;
		height: 70px;
		mask: {
			image: url('../images/wave.png');
			repeat: no-repeat;
			position: center;
			size: cover;
		}
		background: {
			image: linear-gradient(to left, transparent 50%, $blue 50%);
			position: right bottom;
			size: 200% 100%;
		}
		transition: all 1.5s cubic-bezier(0.25, 0.1, 0.25, 1);
		z-index: -1;
	}

	.button-text {
		width: 100%;
		text-align: center;
		color: $white;
		font-size: 16px;
		font-weight: 400;
		font-family: $montserrat;
	}
}

.fancybox-button {
	svg, path {
		color: #fff;
	}
}

.tooltip {
	&.bs-tooltip-right {
		.arrow {
			&:after, &:before {
				border-right-color: $white;
			}
		}
	}

	&.bs-tooltip-bottom {
		.arrow {
			&:after, &:before {
				border-bottom-color: $dark-green;
			}
		}
	}

	.tooltip-inner {
		border: 1px solid $dark-green;
		color: $dark-green;
		background-color: $white;
		opacity: 1;
	}
}

.background-waves-box {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0.2;
	z-index: 0;

	background: {
		image: url("../../images/background-waves.png");
		repeat: repeat-y;
		size: contain;
	}

	//#canvas {
	//	position: absolute;
	//	top: 0;
	//	left: 0;
	//	width: 100%;
	//	height: 100%;
	//	z-index: 2;
	//}
	//
	//.plane {
	//	position: relative;
	//	width: 100%;
	//	height: 100%;
	//	z-index: 3;
	//
	//	img {
	//		display: none;
	//	}
	//}
	//
	//.no-curtains {
	//	.plane {
	//		overflow: hidden;
	//		display: flex;
	//		align-items: center;
	//		justify-content: center;
	//	}
	//
	//	img {
	//		display: block;
	//		width: 100%;
	//		height: 100%;
	//		object-fit: contain;
	//	}
	//}
}

.breadcrumb {
	background-color: transparent;
	padding: 0;
	border-radius: 0;

	&-item {
		&+.breadcrumb-item {
			&:before {
				content: '';
				opacity: 0.5;
				margin-left: 0.5rem;
				border: {
					top: .3em solid transparent;
					right: .3em solid transparent;
					bottom: .3em solid transparent;
					left: .3em solid;
				}
				color: $dark-green;
			}
		}

		&.active {
			span {
				color: $black-primary;
			}
		}

		span {
			color: $dark-green;
			font-family: $montserrat;
			font-size: 14px;
			opacity: 0.5;
		}
	}
}
