.gallery-page {
	padding: 85px 0;
	overflow: hidden;

	.section-title {
		color: $black-secondary;
		font-family: $montserrat;
		font-size: 18px;
		font-weight: 500;
		margin-bottom: 20px;
		text-transform: uppercase;
	}

	.nav-wrap {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		width: 100%;
		flex-wrap: wrap;
		margin-bottom: 10px;

		&__link-wrap {
			position: relative;
			padding-right: 10px;
			margin-right: 10px;
			border-right: 1px solid #979797;
			font-size: 16px;
			cursor: pointer;
			margin-bottom: 10px;

			//&:last-child {
			//	border-right: 0;
			//	padding-right: 0;
			//	margin-right: 0;
			//}

			&.active {
				.nav-wrap__link-text {
					font-weight: 600;
					color: $dark-green;
				}

				.wave-mask {
					background-position: left bottom;
				}
			}
		}

		&__link-text {
			position: relative;
			color: $black-primary;
			font-size: 18px;
			font-weight: 400;
			z-index: 1;
			text-align: center;
			transition: all 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
		}

		.wave-mask {
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
			right: 0;
			transform: translate(-50%, -50%);
			width: 100%;
			height: 80px;
			mask: {
				image: url('../../images/wave.svg');
				repeat: no-repeat;
				position: center;
				size: contain;
			}
			background: {
				image: linear-gradient(to left, transparent 50%, $blue 50%);
				position: right bottom;
				size: 200% 100%;
			}
			transition: all 1.5s cubic-bezier(0.25, 0.1, 0.25, 1);
			z-index: 0;
		}
	}

	.slider-wrap {
		position: relative;
		width: 100%;
		max-width: 100%;
	}

	.swiper-container {
		overflow: visible;
	}

	.video-wrap {
		position: relative;
		width: 100%;
		height: 220px;
		margin: 0 auto 30px auto;

		iframe {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			width: 100%;
			height: 100%;
		}
	}

	.gallery-slider-wrap {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transform: translateY(40px);
    opacity: 0;
    visibility: hidden;
    transition: 1s cubic-bezier(0.25, 0.1, 0.25, 1);
    transition-property: opacity, transform, visibility;
		overflow: visible;

    &.active {
      position: relative;
      transform: translateY(0);
      opacity: 1;
      visibility: visible;
      transition-delay: 0.5s;
    }
  }

  .swiper-slide {
    height: 250px;
  }

  .slider-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper-arrow {
    background-image: none;
    top: unset;
	  bottom: -15px;
    width: 80px;
	  height: 10px;
    margin-top: 0;
    z-index: 15;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;

    &.prev {
      left: 15px;
    }

    &.next {
      right: 15px;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }

  .swiper-pagination {
    position: relative;
    bottom: 0 !important;
    width: 100% !important;
    margin: 0 auto;
	  padding: 10px 0;
    max-width: 100%;
    display: flex;
	  justify-content: center;

	  .swiper-pagination-bullet {
		  width: 10px;
		  min-width: 10px;
		  height: 10px;
		  background-color: $white;
		  opacity: 1;
		  border: 1px solid $dark-green;
		  margin: 0 10px !important;

		  &:last-child {
			  margin-right: 0 !important;
		  }

		  &-active {
			  background: #055e70;
		  }
	  }
  }
}

@media screen and (min-width: $media-md-up) {
	.gallery-page {
		.section-title {
			font-size: 24px;
		}

		.swiper-container {
			overflow: hidden;
		}

		.video-wrap {
			height: 550px;
		}

		.nav-wrap {
			justify-content: flex-start;
			margin-bottom: 30px;
		}

		.swiper-arrow {
			bottom: 0;
		}

		.swiper-slide {
			height: 400px;
		}

		.swiper-pagination {
			justify-content: center;
			padding-top: 20px;
			padding-bottom: 0;
		}
	}
}

@media screen and (min-width: $media-lg-up) {
	.gallery-page {
		.container {
			max-width: 1070px;
		}

		.slider-wrap {
			max-width: 1100px;
			margin: 0 auto;
			padding: 0 15px;
			overflow: hidden;
		}

		.gallery-slider-wrap {
			left: 15px;
			right: 15px;

			&.active {
				left: 0;
				right: 0;
			}
		}
	}
}

@media screen and (min-width: $media-xl-up) {
	.gallery-page {
		padding: 50px 0;

		.slider-wrap {
			overflow: visible;
		}

		.nav-wrap {
			.wave-mask {
				width: calc(100% + 20px);
				mask-size: contain;
			}
		}

		.section-title {
			font-size: 30px;
			line-height: 48px;
		}

		.swiper-pagination {
			padding-top: 40px;
		}

		.gallery-slider {
			position: relative;

			&:before {
				content: '';
				position: absolute;
				top: 10px;
				left: 10px;
				width: calc(100% - 20px);
				height: calc(100% - 70px);
				z-index: 2;
				transform: rotateY(-180deg);
				background: {
					image: url('../../images/image-border.png');
					repeat: no-repeat;
					size: 100% 100%;
				}
			}
		}


		.swiper-slide {
			height: 700px;
		}

		.nav-wrap {
			margin-bottom: 20px;

			&__link-wrap {
				position: relative;
				border-right: 0;
				padding-right: 0;
				margin-right: 30px;

				&.active {
					&__link-text {
						font-weight: 600;
						color: $dark-green;
					}
				}
			}

			&__link-text {
				font-size: 18px;
			}
		}

		.swiper-arrow {
			width: 30px;
			height: auto;
			bottom: unset;
			top: 50%;
			transform: translateY(-50%);

			&.prev {
				left: 20px;
			}

			&.next {
				right: 20px;
			}

			img {
				object-fit: cover;
			}
		}
	}
}
