.header-main {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 99;
	box-shadow: 0 2px 4px rgba(5, 94, 112, 0.3);
	padding: 7px 15px;
	background-color: $white;

	&.shadow-none {
		box-shadow: none;
	}

	&.transparent {
		.mobile-header {
			background-color: transparent;
			box-shadow: none;
		}
	}

	&.is-main {
		padding: 15px;

		.mobile-header {
			.documentation-link {
				display: flex;
			}

			.mobile-logo {
				display: none;
			}
		}
	}

	.humb-menu {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 25px;
		height: 20px;
		cursor: pointer;

		&.is-opened {
			span {
				&:nth-child(1) {
					transform: translateY(-10px);
					opacity: 0;
				}

				&:nth-child(2) {
					transform: translateY(-50%) rotate(135deg);
				}

				&:nth-child(3) {
					transform: translateY(-50%) rotate(-135deg);
					opacity: 1;
				}

				&:nth-child(4) {
					transform: translateY(10px);
					opacity: 0;
				}
			}
		}

		span {
			position: absolute;
			display: block;
			width: 100%;
			height: 2px;
			background-color: $black-secondary;
			transition: all 0.5s ease-out;

			&:nth-child(1) {
				top: 0;
			}

			&:nth-child(2) {
				top: 50%;
				transform: translateY(-50%);
			}

			&:nth-child(3) {
				top: 50%;
				transform: translateY(-50%);
				opacity: 0;
			}

			&:nth-child(4) {
				bottom: 0;
			}
		}
	}

	.dropdown {
		margin-right: 20px;

		.dropdown-toggle {
			position: relative;
			outline: none;
			border: none;
			border-radius: 0;
			width: 100%;
			height: 100%;
			cursor: pointer;
			background-color: transparent;
			text-transform: uppercase;
			padding: 0;
			@include textStyle($black-secondary, $montserrat, 16px, 400);
			@include flex(row, space-between, center);

			&:focus {
				outline: none;
				box-shadow: none;
			}
		}

		.dropdown-menu {
			width: 100%;
			min-width: 100%;
			border-radius: 0;
			border: 1px solid $black-secondary;
			padding: 0;
		}

		.dropdown-item {
			text-align: center;
			border-bottom: 1px solid $black-secondary;
			padding: 6px 0 7px;
			text-transform: uppercase;
			@include textStyle($black-secondary, $montserrat, 16px, 400);

			&:last-child {
				border-bottom: 0;
			}
		}
	}

	.mobile-header {
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		.documentation-link {
			display: none;
			align-items: center;

			.documentation-icon {
				margin-right: 5px;
				min-width: 23px;
			}

			.documentation-text {
				color: $black-primary;
				font-family: $montserrat;
				font-size: 11px;
				font-weight: 500;
			}
		}

		.phone-wrap {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
			margin-left: 25px;
		}

		.phone-icon {
			width: 16px;
			margin-right: 10px;
		}

		.phone-link {
			color: $black-primary;
			font-family: $montserrat;
			font-size: 15px;
			font-weight: 400;
			text-align: center;
		}

		.mobile-logo {
			display: block;
			position: relative;
			z-index: 1;

			img {
				width: 80px;
				height: 46px;
			}
		}

		.right-content {
			display: flex;
			flex-direction: row;
			align-items: center;
		}
	}
}

@media screen and (min-width: $media-xl-up) {
	.header-main {
		position: sticky;
		top: 0;
		left: 0;
		bottom: 0;
		padding: 0;
		height: 100vh;
		box-shadow: 10px 0 20px rgba(0, 0, 0, 0.2);
		width: 280px;
		//overflow-x: hidden;
		//overflow-y: auto;
		transition: all 1s cubic-bezier(0.25, 0.1, 0.25, 1);
		background-color: $dark-green;

		&.shadow-none {
			box-shadow: 10px 0 20px rgba(0, 0, 0, 0.2);
		}

		&.is-main {
			padding: 0;
		}

		&.is-collapsed {
			width: 70px;

			.desktop-header {
				padding: 30px 10px;

				form {
					display: none;
				}

				.top-content {
					&__nav {
						justify-content: center !important;
					}
				}

				.menu-box-item {
					&:before {
						left: 0;
						bottom: -10px;
						transform: translateX(-10px);
					}

					&.active {
						transform: translateX(10px);

						&:before {
							width: 50px;
						}
					}
				}

				.logo-wrap {
					padding: 0;
					margin-top: 30px;
					margin-bottom: 0;
				}

				.logo-image {
					&_minimized {
						display: flex !important;
						width: 100%;
						height: 35px;
						max-width: 50px;
						margin: 0 auto;
					}

					&_default {
						display: none;
					}
				}

				.button-appointment_minified-wrap {
					display: flex !important;
					justify-content: center;
				}

				.button-appointment_minified {
					display: flex;
					flex-direction: row;
					justify-content: center;
					align-items: center;
					width: 20px;
					height: 20px;

					.iconify {
						width: 100%;
						path {
							fill: $white;
						}
					}
				}

				.menu-box-item {
					justify-content: center;
					min-width: 100%;

					.menu-box-item-img {
						margin-right: 0;
					}

					span {
						display: none;
					}
				}

				.bottom-content {
					display: none;
				}
			}
		}

		.dropdown {
			margin-right: 0;

			.dropdown-toggle {
				padding: 5px;
				color: $white;
			}
		}

		.humb-menu {
			span {
				background-color: $white;
			}
		}

		.desktop-header {
			height: 100%;
			padding: 30px 20px;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;

			.top-content {
				width: 100%;
			}

			.logo-wrap {
				margin: 28px 0;
				padding: 0 20px;
			}

			.logo-link {
				display: block;
			}

			.logo-image {
				&_default {
					width: 100%;
					min-width: 200px;
					max-width: 100%;
					margin: 0 auto;
				}
			}

			.menu-box {
				margin-bottom: 30px;
			}

			.menu-box-item {
				position: relative;
				width: 100%;
				min-width: 230px;
				display: flex;
				margin-bottom: 30px;
				text-decoration: none;
				color: $white;
				font-family: $montserrat;
				font-size: 16px;
				font-weight: 400;

				&:hover {
					.menu-box-item-img {
						& > g {
							& > g {
								fill: $blue !important;
							}
						}
					}

					span {
						color: $blue;
					}
				}

				&:before {
					content: '';
					position: absolute;
					bottom: -5px;
					left: 40px;
					right: 0;
					width: 0;
					height: 5px;
					transition: all 0.4s cubic-bezier(0.25, 0.1, 0.25, 1);
					background: {
						image: url('../../images/menu-header-line.svg');
						repeat: no-repeat;
						size: cover;
					}
				}

				&:last-child {
					margin-bottom: 0;
				}
				&.active {

					&:before {
						width: 160px;
					}

					.menu-box-item-img {
						& > g {
							& > g {
								fill: $blue !important;
							}
						}
					}

					span {
						color: $blue;
					}
				}

				.menu-box-item-img {
					& > g {
						& > g {
							fill: $white !important;
							transition: fill 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
						}
					}
				}

				span {
					position: relative;
					color: inherit;
					font-family: inherit;
					font-size: inherit;
					font-weight: inherit;
					transition: fill 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
				}

				.menu-box-item-img {
          width: auto;
          height: 24px;
					margin-right: 20px;
				}
			}

			.phone-wrap {
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: center;
				margin-bottom: 20px;

				.call-icon {
					width: 15px;
					margin-right: 10px;
					fill: $white;
				}

				.phone-number {
					color: $white;
					font-family: $montserrat;
					font-size: 16px;
					font-weight: 400;
					text-align: center;
				}
			}

			.bottom-content {
				width: 100%;
				min-width: 240px;

				.socials-wrap {
					margin-bottom: 20px;
				}

				.social-link {
					margin: 0 15px;
					min-width: 24px;

					&:hover {
						svg {
							opacity: 1;
							fill: $blue;
						}
					}

					svg {
						opacity: 0.2;
						width: auto;
						height: 20px;
						margin: 0 auto;
						fill: $white;
						transition: all 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
					}
				}
			}

			.header-text {
				width: 100%;

				p {
					color: $white;
					font-family: $montserrat;
					font-size: 16px;
					font-weight: 400;
					text-align: center;
				}
			}
		}
	}
}
