.main-page {
	position: relative;
	left: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100vh;
	overflow: hidden;

	.section-main {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 100%;
		overflow: hidden;
		transition: all 1s ease-out;
		.hidden {
			position: absolute;
			font-size: 0;
		}
	}

	.main-image {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: url("../images/main-image.jpg") no-repeat center;
		background-size: cover;
		z-index: 0;

		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: rgba(0, 0, 0, 0.15);
			z-index: 1;
		}
	}

	.section-title {
		position: relative;
		width: 100%;
		max-width: 980px;
		padding: 0 15px;
		margin: 0 auto;
		z-index: 3;
	}

	.bottom-info {
		position: relative;
		z-index: 3;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		max-width: 240px;
		margin: 0 auto 60px auto;
		transition: all 0.6s ease-out 0.5s;

		&.hide {
			opacity: 0;
			visibility: hidden;
			transform: translate(0, 40px);
			transition-delay: 0s;
		}
	}

	.video-btn {
		position: relative;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		width: 100%;
		margin-bottom: 80px;
		text-shadow: 1px 1px 10px rgba(0, 0, 0, 1);

		&.show {
			opacity: 1;
			visibility: visible;
			transform: translate(-50%, 0);
			transition-delay: 0.6s;
		}

		&_stop {
			position: absolute;
			max-width: 240px;
			margin-bottom: 0;
			bottom: 180px;
			left: 50%;
			transform: translate(-50%, 40px);
			z-index: 10;
			opacity: 0;
			visibility: hidden;
			transition: all 0.5s ease-out;
		}

		.play-box {
			width: 44px;
			height: 44px;
			border-radius: 100%;
			background-color: $white;
			display: flex;
			justify-content: center;
			align-items: center;
			margin-right: 10px;
			&__icon {
				width: 12px;
				height: 14px;
			}
		}

		.btn-text {
			color: $white;
			font-family: $montserrat;
			font-size: 18px;
			font-weight: 600;
		}
	}

	.about-container {
		width: 100%;

		&__text {
			text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.8);
			color: $white;
			font-family: $montserrat;
			font-size: 18px;
			font-weight: 600;
			text-transform: uppercase;
			margin-bottom: 10px;
			text-align: center;
		}

		.button-wave {
			height: 45px;

			.wave-img {
				background-position: left bottom;
			}

			.button-text {
				text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.8)
			}
		}
	}

	.video-box {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
		opacity: 0;
		visibility: hidden;
		transition: all 0.6s ease-out;

		&.show {
			opacity: 1;
			visibility: visible;
			z-index: 4;
		}

		.iframe-wrap {
			width: 100%;
			height: 100%;
		}

		iframe {
			width: 100%;
			height: 100%;
		}
	}

	//.stock-link {
	//	position: fixed;
	//	top: 65px;
	//	right: 0;
	//	color: $black-primary;
	//	font-family: $montserrat;
	//	font-size: 18px;
	//	font-weight: 600;
	//	text-transform: uppercase;
	//	text-align: center;
	//	background: url('../images/white-wave-stock.png') no-repeat center;
	//	background-size: contain;
	//	padding: 32px 0 20px 0;
	//	width: 260px;
	//	z-index: 5;
	//	span {
	//		display: inline-block;
	//		color: inherit;
	//		font-family: inherit;
	//		font-size: inherit;
	//		font-weight: inherit;
	//		text-transform: inherit;
	//		transform: translateX(10px);
	//	}
	//}

	.gif-logo {
		width: 100%;
		height: 220px;
		position: relative;
		z-index: 1;
		object-fit: contain;
		object-position: center;
		opacity: 1;
		transform: translateY(0);
		transition: all 0.6s ease-out 0.5s;
		&.hide {
			opacity: 0;
			transition-delay: 0s;
			transform: translateY(40px);
		}
	}
}

@media screen and (min-width: $media-xl-up) {
	.main-page {
		.section-title {
			padding-top: 80px;
		}
	}

    .amo-button-holder {
		right: 2% !important;
		bottom: 8% !important;
    }

    .bingc-phone-button {
        bottom: 60px !important;
        transition: all 1s ease;
    }
}
