.mobile-menu {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
	z-index: -1;
	transition: all 0.65s ease-out;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-top: 60px;

	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(0, 0, 0, 0.4);
		z-index: -1;
	}

	&.open {
		opacity: 1;
		visibility: visible;
		z-index: 98;
	}

	&__nav-list {
		position: relative;
		z-index: 2;
		margin-bottom: 30px;

		&__item {
			margin-bottom: 25px;

			&:last-child {
				margin-bottom: 0;
			}

			.list-link {
				display: flex;

				.list-icon {
          width: auto;
          height: 24px;
          margin-right: 20px;
     
					&>g {
						&>g {
							fill: $white !important;
						}
					}
				}

				.list-text {
					color: $white;
					font-family: $montserrat;
					font-size: 16px;
					font-weight: 500;
				}
			}
		}
	}

	&__bottom {
		position: relative;
		z-index: 2;

		&__socials {
			display: flex;
			flex-direction: row;
			justify-content: center;
			margin-bottom: 20px;

			&__link {
				display: block;
				margin-right: 30px;

				&:last-child {
					margin-right: 0;
				}

				img {
					height: 24px;
					margin: 0 auto;
				}
			}
		}
	}

	.mobile-menu-text {
		width: 100%;

		p {
			text-align: center;
			color: $white;
			font-family: $montserrat;
			font-size: 16px;
			font-weight: 500;
		}
	}
}
