.modal {
	padding: 0 !important;

	.modal-content {
		position: relative;
		border-radius: 0;
		padding: 15px 15px 25px 15px;
		border: none;
		background-color: $dark-green;

		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			width: 100%;
			height: 100%;
			opacity: 0.4;
			background: {
				image: url('../../images/background-waves.png');
				repeat: no-repeat;
				size: cover;
				position: center;
			}
			z-index: 0;
		}

		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 0;
			width: calc(100% - 16px);
			height: calc(100% - 16px);
			margin: 8px;
			background: {
				image: url("../../images/image-border.png");
				repeat: no-repeat;
				size: 100% 100%;
			}
		}
	}

	.modal-header {
		padding: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-end;
		border: none;
		margin-bottom: 15px;

		.modal-title {
			position: relative;
			font-family: $montserrat;
			width: 100%;
			text-align: center;
			color: $white;
			font-size: 20px;
			font-weight: 700;
			z-index: 2;
		}

		.close {
			padding: 0;
			margin: 0;
			width: 20px;
			height: 20px;
			position: relative;
			top: 0;
			right: 0;
			z-index: 2;

			span {
				display: block;
				width: 100%;
				height: 2px;
				background-color: $blue;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				&:first-child {
					transform: translateY(-50%) rotate(45deg);
				}
				&:last-child {
					transform: translateY(-50%) rotate(-45deg);
				}
			}
		}
	}

	.modal-body {
		position: relative;
		border: none;
		padding: 0;
		z-index: 2;
	}
}

.max-width-400 {
    max-width: 400px;
}

.modal-form-submit {
	width: 100%;
	max-width: 360px;
	margin: 0 auto;
}

.modal-styled-input {
	margin-bottom: 10px;
	padding: 10px 15px;
	font-size: 14px;
	font-weight: 400;
	width: 100%;
	color: $black-primary;
	background-color: $white;

	&:hover, &:focus {
		&::placeholder {
			color: #979797;
		}
	}

	&::placeholder {
		opacity: 0.4;
		color: #979797;
		font-size: inherit;
		font-weight: inherit;
	}

	&--area {
		width: 100%;
		resize: none;
	}
}

.button-wave {
    width: 100%;
    max-width: 360px;
	text-align: center;
	margin: 20px auto;

	.wave-img {
		z-index: 0;
		height: 90px;
		mask-size: contain;
	}

	.button-text {
		position: relative;
		z-index: 1;
		width: auto;
	}
}

@media screen and (min-width: $media-xl-up) {
	.modal {
		.modal-dialog {
			max-width: 790px;
		}

		.modal-content {
			padding: 45px 0 30px 0;
		}

		.modal-header {
			margin-bottom: 20px;

			.modal-title {
				font-size: 40px;
			}

			.close {
				position: absolute;
				top: 20px;
				right: 20px;
			}
		}
	}

	.modal-styled-input {
		font-size: 16px;
		padding: 11px 15px;
		margin-bottom: 15px;
	}

	.button-wave {
		.button-text {
			font-size: 16px;
		}
	}
}
