#building-modal {
	.modal-dialog {
		max-width: 780px;
	}

	.modal-content {
		border: none;
		border-radius: 0;
		padding: 0;
		box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
		background-color: $white;

		&:before, &:after {
			display: none;
			z-index: -1;
			pointer-events: none;
		}
	}

	.modal-header {
		position: absolute;
		top: 20px;
		right: 20px;
		padding: 0;
		border-radius: 0;
		border: none;
		z-index: 3;

		.close {
			width: 25px;
			height: 25px;
			cursor: pointer;
			padding: 0;
			margin: 0;
			background-color: transparent;
			opacity: 1;

			span {
				display: block;
				width: 100%;
				height: 2px;
				position: absolute;
				top: 50%;
				left: 0;
				right: 0;
				background-color: $white;

				&:nth-child(1) {
					transform: translateY(-50%) rotate(-135deg);
				}

				&:nth-child(2) {
					transform: translateY(-50%) rotate(135deg);
				}
			}
		}
	}

	.modal-body {
		padding: 0;

		.slider-box {
			.modal-slider {
				.swiper-slide {
					.image-box {
						width: 100%;
						height: 530px;
						@media screen and (max-width: $media-lg-down) {
							min-height: 400px;
							max-height: 400px;
						}

						img {
							width: 100%;
							height: 100%;
							object-fit: cover;
						}
					}
				}

				.swiper-arrow {
					background-image: none;
					top: 50%;
					transform: translateY(-50%);
					width: 30px;
					margin-top: 0;
					z-index: 15;
					display: flex;
					flex-direction: row;
					align-items: center;
					cursor: pointer;

					&.prev {
						left: 20px;
					}

					&.next {
						right: 20px;
					}

					img {
						width: 100%;
						height: auto;
					}
				}
			}
		}

		.info-box {
			padding: 30px 40px;

			&__title {
				@include textStyle($black-secondary, $montserrat, 20px, 400);
				margin-bottom: 30px;
			}

			&__desc {
				@include textStyle($black-secondary, $montserrat, 18px, 400);
			}
		}
	}
}

@media screen and (max-width: $media-xl-down) {
	#building-modal {
		.modal-dialog {
			margin: 0;
		}

		.modal-content {
			padding: 0;
		}

		.modal-header {
			top: -35px;
			right: 5px;
		}

		.modal-body {
			.slider-box {
				.modal-slider {
					.swiper-slide {
						.image-box {
							height: 400px;
						}
					}

					.swiper-arrow {
						&.prev {
							left: 5px;
						}

						&.next {
							right: 5px;
						}
					}
				}
			}

			.info-box {
				padding: 25px 20px;

				&__title {
					font-size: 20px;
					margin-bottom: 25px;
					font-weight: 600;
				}

				&__desc {
					font-size: 18px;
				}
			}
		}
	}
}
