.news-page {
	padding: 80px 0 30px;
	.container {
		max-width: 840px;
	}

	.section-title {
		position: relative;
		text-align: center;
		margin-bottom: 20px;

		img {
			width: 256px;
			margin: 0 auto;
		}

		span {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			@include textStyle($dark-green, $montserrat, 20px, 600);
			text-transform: uppercase;
		}
	}

	.news-card-wrap {
		margin-bottom: 20px;
	}

	.image-box {
		width: 100%;
		height: 100%;
		max-height: 200px;

		.news-image {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	.news-description {
		padding: 15px 25px;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		background-color: $white;
		box-shadow: 2px 5px 10px rgba(155, 204, 222, 0.35);

		&__title {
			@include textStyle($black-primary, $montserrat, 20px, 400);
			margin-bottom: 10px;
		}

		&__text {
			margin-bottom: 15px;

			p {
				@include textStyle($black-primary, $montserrat, 14px, 300);
				line-height: 17px;
				opacity: 0.7;
				overflow: hidden;
				text-overflow: ellipsis;
				display: -webkit-box;
				-webkit-box-orient: vertical;
				-webkit-line-clamp: 6;
			}
		}

		&__bottom-info {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
		}

		.link-about {
			display: block;
			position: relative;
			@include textStyle($dark-green, $montserrat, 15px, 500);

			&:hover {
				.line-box {
					width: 100px;
				}
			}

			.line-box {
				position: absolute;
				bottom: -5px;
				left: 0;
				right: 0;
				width: 0;
				height: 5px;
				transition: width 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
				overflow: hidden;
				background: {
					image: url('../../images/menu-header-line.svg');
					size: cover;
					repeat: no-repeat;
				}
			}
		}
		.news-data {
			@include textStyle($black-primary, $montserrat, 15px, 400);
			opacity: 0.3;
		}
	}
	.btn-box {
		&__more {
			padding: 0;
			background-color: transparent;
			font-size: 14px;
			opacity: 0.3;
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}
}

@media screen and (min-width: $media-md-up) {
	.news-page {
		padding: 100px 0 30px 0;

		.section-title {
			font-size: 24px;
			margin-bottom: 30px;
		}

		.image-box {
			position: relative;
			height: 0;
			padding-bottom: 100%;
			max-height: 100%;

			.news-image {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
			}
		}
	}
}

@media screen and (min-width: $media-xl-up) {
	.news-page {
		padding: 45px 0 35px 0;

		.section-title {
			margin: 0 -15px 20px -15px;

			img {
				margin: 0 auto 0 0;
				transform: translateX(-60px);
			}

			span {
				left: 0;
				transform: translate(0, -50%);
				font-size: 28px;
			}
		}

		.image-box {
			padding-bottom: 0;
			height: 100%;

			.news-image {
				position: relative;
			}
		}

		.news-card-wrap {
			margin-bottom: 30px;
		}

		.news-description {
			padding: 25px 30px;
			box-shadow: 1px 1px 5px 0 $blue;

			&__title {
				font-size: 22px;
				margin-bottom: 10px;
			}

			&__text {
				p {
					font-size: 15px;
					line-height: 22px;
				}
			}
		}
	}
}

