.news-selected-page {
	padding: 80px 0 20px 0;

	.news-image-wrap {
		position: relative;
		width: 100%;
		height: 100%;
		max-height: 225px;
	}

	.news-image {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.image-border {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		width: 100%;
		padding: 11px 11px 0;
		height: calc(100% + 25px);
		z-index: 1;
	}

	.news-description-wrap {
		padding: 15px;
		margin-top: -30px;
		box-shadow: 8px 8px 20px rgba(28, 28, 28, 0.2);
		background-color: $white;
	}

	.news-title {
		color: $black-primary;
		font-family: $montserrat;
		font-size: 18px;
		font-weight: 400;
		line-height: 20px;
		margin-bottom: 10px;
		text-align: center;
	}

	.news-description {
		margin-bottom: 10px;

		p {
			opacity: 1;
			color: $black-primary;
			font-family: $montserrat;
			font-size: 14px;
			font-weight: 300;
			line-height: 24px;
		}
	}

	.news-data {
		opacity: 0.3;
		color: $black-primary;
		font-family: $montserrat;
		font-size: 12px;
		font-weight: 400;
		text-align: right;
	}

    .btn-modal {
        display: block;
        width: 100%;
        max-width: 240px;
        margin-top: 30px;
        margin-bottom: 30px;
        height: 40px;
        text-align: center;
        background-color: $blue;

        .btn-text {
            color: $white;
            font-size: 14px;
            font-weight: 400;
            line-height: 15px;
        }
    }

	.news-nav {
		position: absolute;
		bottom: -40px;
		left: 0;
		right: 0;
		width: 100%;
		margin: 0;
		padding: 0 15px;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;

		&__item {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
			@include textStyle($dark-green, $montserrat, 12px, 400);

			&_prev {
				text-align: left;
				img {
					margin-right: 10px;
				}
			}

			&_next {
				text-align: right;
				img {
					margin-left: 10px;
				}
			}

			img {
				width: 8px;
			}
		}
	}
}

@media screen and (min-width: $media-md-up) {
	.news-selected-page {
		.news-image-wrap {
			max-height: 400px;
		}
	}
}

@media screen and (min-width: $media-lg-up) {
	.news-selected-page {
		.news-image-wrap {
			max-height: 450px;
		}
	}
}

@media screen and (min-width: $media-xl-up) {
	.news-selected-page {
		padding: 60px 0 35px 0;

		.container {
			max-width: 960px;
		}

		.row-news-info {
			background-color: white;
			box-shadow: 8px 8px 20px rgba(28, 28, 28, 0.2);
		}

		.news-image-wrap {
			position: relative;
			width: 100%;
			max-width: 960px;
			margin: 0 auto;
			max-height: 550px;
		}

		.news-description-wrap {
			padding: 30px 0 40px;
			margin: 0 auto;
			width: 100%;
			max-width: 760px;
			box-shadow: none;
			background-color: transparent;
		}

		.news-title {
			font-size: 22px;
			margin-bottom: 17px;
			text-align: left;
		}

		.news-description {
			margin-bottom: 0;

			p {
				font-size: 15px;
				line-height: 26px;
			}
		}

		.news-data {
			position: absolute;
			top: -55px;
			left: -30px;
			opacity: 1;
			z-index: 2;

			img {
				width: 275px;
				transform: rotateY(-180deg);
			}

			span {
				position: absolute;
				bottom: 25px;
				left: 40px;
				color: $white;
				font-family: inherit;
				font-size: 15px;
				font-weight: inherit;
			}
		}

		.news-nav {
			position: relative;
			bottom: 0;
			margin-top: 40px;
			padding: 0;

			&__item {
				font-size: 16px;
			}
		}
	}
}
