.login-page {
  position: relative;
  padding: 60px 0;
  height: 100vh;

  .bg-box {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    filter: blur(10px);
    background: url('../../images/partners-login/background-image.jpg') no-repeat center;
    background-size: cover;
    z-index: -1;
    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0,0,0,0.1);
    }
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 1260px;
    height: 100%;
  }
  .logo-container {
    width: 100%;
    max-width: 400px;
    margin: 0 auto 150px auto;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .check-row {
    margin-bottom: 100px !important;
    .checkbox {
      &__box {
        position: relative;
        width: 33px;
        height: 33px;
        border: 1px solid #fff;
        margin: 0 auto 10px auto;
        &.active {
          .checkbox__box__overlay {
            width: 50px;
            animation: animate 0.6s ease-out 0s 1;
            animation-fill-mode: both;
          }
        }
        &__overlay {
          position: absolute;
          top: -6px;
          left: -6px;
          height: 37px;
          z-index: 2;
          overflow: hidden;
          width: 0;
          transition: all 0.6s ease-out;
        }
        img, svg {
          display: block;
          width: 50px;
          height: 37px;
          .a {
            fill: #9bccde;
            stroke-dasharray: 320;
            stroke-dashoffset: 0;
            animation: dash 1s linear infinite;
          }
        }
      }
      &__text {
        color: #fff;
        font-size: 16px;
        font-weight: 500;
        text-align: center;
      }
    }
  }
  .form-container {
    position: relative;
    padding: 90px 0 60px 0;
    width: 100%;
    max-width: 970px;
    margin: 0 auto;
    border: 1px solid #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    .title-box {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, -80px);
      width: 100%;
      max-width: 400px;
      padding: 0;
      &__title {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
        color: #ffffff;
        font-size: 36px;
        font-weight: 600;
        line-height: 35px;
        text-align: center;
      }
      img {
        width: 100%;
      }
    }
    .form-box {
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 350px;
      margin: 0 auto;
      input {
        width: 100%;
        margin-bottom: 20px;
        border: 1px solid #0173aa;
        background-color: #ffffff;
        color: #0173aa;
        font-size: 16px;
        font-weight: 400;
        padding: 14px 10px 12px 10px;
        text-align: center;
        &.error {
          border: 1px solid red;
        }
        &::placeholder {
          color: inherit;
          font-family: inherit;
          font-size: inherit;
          font-weight: inherit;
        }
      }
      &__btn-send {
        position: relative;
        padding: 10px 0;
        color: #ffffff;
        font-size: 20px;
        font-weight: 500;
        border: none;
        background-color: transparent;
        margin-top: 20px;
        &:hover {
          .form-box__btn-send__wave {
            background-position: left bottom;
          }
        }
        &__wave {
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          transform: translate(-15px, -25px);
          width: 100%;
          height: 90px;
          -webkit-mask-image: url('../../images/partners-login/Wave-Marinist_1.svg');
          mask-image: url('../../images/partners-login/Wave-Marinist_1.svg');
          -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
          -webkit-mask-position: center;
          mask-position: center;
          -webkit-mask-size: contain;
          mask-size: contain;
          transition: all 1.5s cubic-bezier(0.25,0.1,0.25,1);
          z-index: -1;
          background: #9bccde;
          background: linear-gradient(to left, transparent 50%, #9bccde 50%);
          background-size: 200% 100%;
          background-position: right bottom;
        }
        span {
          color: inherit;
          font-size: inherit;
          font-weight: inherit;
        }
      }
    }
  }

  .modal {
    .modal-footer {
      .btn {
        background-color: #9bccde;
        border: none;
        border-radius: 0;
      }
    }
  }
}

@media screen and (max-width: $media-xl-down) {
  .login-page {
    padding: 30px 0;
    height: 100%;

    .bg-box {
      filter: blur(7px);
    }
    .logo-container {
      max-width: 250px;
    }
    .checkbox {
      margin-bottom: 20px;
    }
    .form-container {
      padding: 60px 0 40px 0;
      .title-box {
        left: 0;
        right: 0;
        transform: translate(0, -80px);
        img {
          width: 100%;
        }
        &__title {
          width: 100%;
          font-size: 26px;
        }
      }
      .form-box {
        padding: 0 15px;
        &__btn-send {
          font-size: 18px;
        }
      }
    }
  }
}
