@mixin even-odd($padding-odd, $padding-even) {
	&:nth-child(odd) {
		padding: $padding-odd !important;
	}
	&:nth-child(even) {
		padding: $padding-even !important;
	}
}

.parameters-page {
	margin-top: 60px;
	padding: 20px 0;

	.btn-custom {
		@include textStyle($dark-green, $montserrat, 12px, 500);
		width: 50%;
		background-color: transparent;
		border: 1px solid $dark-green;
		padding: 8px 0;
		display: flex;
		justify-content: center;
		align-items: center;
		&_submit {
			background-color: $dark-green;
			color: $white;
			margin-right: 10px;
		}
		&_reset {
			margin-left: 10px;
		}
		&.btn-actions {
			color: $white;
			width: 100%;
			border: none;
			padding: 3px 0;
		}
	}
}

.top-nav {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 15px;
	padding-top: 35px;

	.back-link {
		position: absolute;
		top: 0;
		left: 0;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
		img {
			margin-right: 20px;
		}
		span {
			text-decoration: underline;
		}
	}
	.title {
		@include textStyle($dark-green, $montserrat, 18px, 500);
		line-height: 20px;
		width: 100%;
		max-width: 160px;
	}
}
.view-box {
	display: flex;
	flex-direction: row;
	align-items: center;
	&__title {
		@include textStyle($black-primary, $montserrat, 16px, 500);
		display: block;
		margin-right: 20px;
		opacity: 0.2;
	}
	.type-wrap {
		display: flex;
		flex-direction: row;
		align-items: center;
		.type-box {
			&.active {
				span {
					background-color: rgba(21, 104, 114, 1);
				}
			}
			&_table {
				display: flex;
				flex-direction: column;
				width: 20px;
				margin-right: 20px;
				cursor: pointer;
				span {
					display: block;
					width: 100%;
					height: 2px;
					background-color: rgba(0, 0, 0, 0.2);
					margin-bottom: 5px;
					&:last-child {
						margin-bottom: 0;
					}
				}
			}
			&_block {
				position: relative;
				width: 20px;
				height: 20px;
				cursor: pointer;
				span {
					position: absolute;
					display: block;
					width: 8px;
					height: 8px;
					border-radius: 2px;
					border: 1px solid rgba(0, 0, 0, 0.2);
					&:nth-child(1) {
						top: 0;
						left: 0;
					}
					&:nth-child(2) {
						bottom: 0;
						left: 0;
					}
					&:nth-child(3) {
						top: 0;
						right: 0;
					}
					&:nth-child(4) {
						bottom: 0;
						right: 0;
					}
				}
			}
		}
	}
}

.filters-form {
	display: block;
	width: 100%;
}
.filters-row {
	margin: 0;
	.col-12 {
		padding: 0 !important;
	}
	[class*='col-'] {
		margin-bottom: 20px;
		&:nth-child(even) {
			padding-right: 0;
			padding-left: 10px;
		}
		&:nth-child(odd) {
			padding-left: 0;
			padding-right: 10px;
		}
	}
}
.filters-select {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background-color: rgba(155, 204, 222, 0.2);
	height: 24px;

	&__title {
		@include textStyle($black-primary, $montserrat, 12px, 500);
		text-transform: uppercase;
	}
	.select {
		cursor: pointer;
		display: inline-block;
		position: relative;
		width: 24px;
		height: 24px;

		.select-hidden {
			display: none;
			visibility: hidden;
			padding-right: 0;
		}
		.select-styled {
			@include textStyle($dark-green, $montserrat, 12px, 500);
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background-color: transparent;
			padding: 0;
			border: 1px solid $dark-green;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
			&:after {
				content:"";
				width: 0;
				height: 0;
				border-top: 4px solid $dark-green;
				border-left: 4px solid transparent;
				border-right: 4px solid transparent;
				border-bottom: 4px solid transparent;
				position: absolute;
				top: 0;
				left: 50%;
				transform: translateX(-50%);
			}
		}
		.select-options {
			display: none;
			position: absolute;
			top: 100%;
			right: 0;
			left: 0;
			z-index: 999;
			margin: 0;
			padding: 0;
			list-style: none;
			background-color: #ebf5f8;
			max-height: 240px;
			width: 100%;
			&.scrollable {
				overflow: auto;
				width: calc(100% + 15px);
			}
			li {
				@include textStyle($dark-green, $montserrat, 12px, 500);
				margin: 0;
				padding: 0;
				border: 1px solid $dark-green;
				border-top: none;
				height: 24px;
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: center;
				&[rel="hide"] {
					display: none;
				}
			}
		}
	}
}
.filters-check {
	position: relative;
	width: 100%;
	background-color: rgba(155, 204, 222, 0.2);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 24px;
	&__title {
		@include textStyle($black-primary, $montserrat, 12px, 500);
		text-transform: uppercase;
		padding-left: 10px;
	}
	label {
		position: relative;
		margin: 0;
		border: 1px solid $dark-green;
		padding: 2px 10px;
		width: 45px;
		cursor: pointer;
		background-color: transparent;
		span {
			@include textStyle($dark-green, $montserrat, 12px, 500);
			display: block;
			text-align: center;
			&.yes {
				display: none;
			}
		}
	}
	input {
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0;
		visibility: hidden;
		&:checked+label {
			background-color: $dark-green;
			span {
				&.no {
					display: none;
				}
				&.yes {
					display: block;
					color: $white;
				}
			}
		}
	}
}
.stock-label {
	user-select: none;
	cursor: pointer;
	padding: 8px 0;
	margin-bottom: 0;
	width: 100%;
	text-align: center;
	@include textStyle(#9bccde, $montserrat, 12px, 500);
	background-color: transparent;
	border: 1px solid #9bccde;
}
.btn-row {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	input {
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0;
		visibility: hidden;
		&:checked+label {
			background-color: #9bccde;
			color: $white;
		}
	}
}

.search-result {
	margin-bottom: 20px;
	&__title {
		@include textStyle($black-primary, $montserrat, 16px, 500);
		opacity: 0.25;
		text-align: center;
	}
}

.table-box, .row-box {
	display: none;
	margin-top: 10px;
	&.show {
		display: flex;
	}
}
.custom-table {
	width: 100%;
	thead {
		tr {
			border-bottom: 1px solid #d6d6d6;
			td {
				@include textStyle($blue, $montserrat, 14px, 600);
				text-align: center;
				padding-bottom: 10px;
			}
		}
	}
	tbody {
		tr {
			@include animateBlock(background-color, 0.7s, 0s);
			border-bottom: 1px solid #d6d6d6;
			&:hover {
				background-color: rgba(155, 204, 222, 0.3);
			}
			&.isStock {
				td {
					&:first-child {
						position: relative;
						&:before {
							content: '';
							position: absolute;
							top: 0;
							left: 0;
							width: 0;
							height: 0;
							border-style: solid;
							border-width: 55px 65px 0 0;
							border-color: $blue transparent transparent transparent;
							line-height: 0;
						}
						&:after {
							@include textStyle($white, $montserrat, 11px, 500);
							content: 'Акция';
							position: absolute;
							top: 5px;
							left: 5px;
						}
					}
				}
			}
			td {
				@include textStyle($black-primary, $montserrat, 16px, 500);
				text-align: center;
				padding: 25px 0;
				overflow: hidden;

			}
		}
	}
}

.flat-col {
	position: relative;
	border-top: 1px solid #d6d6d6;
	@include even-odd(10px 15px 20px 0, 10px 0 20px 15px);
	&:nth-child(odd) {
		border-right: 1px solid #d6d6d6;
	}
	&.isStock {
		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 55px 65px 0 0;
			border-color: $blue transparent transparent transparent;
			line-height: 0;
		}
		&:after {
			@include textStyle($white, $montserrat, 11px, 500);
			content: 'Акция';
			position: absolute;
			top: 5px;
			left: 5px;
		}
	}
}
.flat-box {
	width: 100%;
	max-width: 100%;
	height: 100%;
	min-height: 150px;
	max-height: 300px;
	margin-bottom: 10px;

	img {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
}
.flat-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 100%;
	&__row {
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-bottom: 0;
		&:last-child {
			margin-bottom: 0;
		}
		&__text {
			@include textStyle($black-primary, $montserrat, 16px, 400);
			word-break: break-word;
			text-align: center;
			margin-bottom: 5px;
		}
		&__btn-detailed {
			display: block;
			text-align: center;
			@include textStyle(#010101, $montserrat, 12px, 400);
			padding: 5px 0;
			width: 100%;
			max-width: 125px;
			margin: 10px auto 0 auto;
			background-color: $blue;
		}
	}
}

.pagination-wrap {
	margin-top: 30px;
}
.pagination {
	flex-wrap: wrap;
	justify-content: center;
}
.page-item {
	&.active {
		.page-link {
			background-color: $blue;
			border-color: $blue;
		}
	}
}
.page-link {
	color: $blue;
}

.range-slider-wrap {
	label {
		@include textStyle($black-primary, $montserrat, 12px, 500);
		width: 100%;
		text-align: center;
		text-transform: uppercase;
	}
}

.irs--round {
	.irs-line {
		background-color: #ecf5f8;
	}

	.irs-min, .irs-max {
		background-color: #ecf5f8;
	}

	.irs-from, .irs-to, .irs-single {
		background-color: $dark-green;
		&:before {
			border-top-color: $dark-green;
		}
	}

	.irs-handle {
		top: 25px;
		border: 1px solid $dark-green;
		background-color: #ecf5f8;
		border-radius: 0;
		box-shadow: none;
		cursor: pointer;
	}

	.irs-bar {
		height: 24px;
		top: 25px;
		background-color: $dark-green;
	}

	.irs-line {
		height: 24px;
		top: 25px;
		background-color: #ecf5f8;
		border-radius: 0;
	}
}

@media screen and (min-width: $media-md-up) {
	.parameters-page {
		.btn-custom {
			padding: 2px 0;
		}
	}

	.stock-label {
		max-width: 225px;
		margin: 0 auto;
	}

	.filters-row {
		margin: 0 -10px;
		[class*='col-'] {
			padding: 0 10px !important;
		}
	}
}

@media screen and (min-width: $media-xl-up) {
	.parameters-page {
		margin-top: 50px;
		padding-top: 0;
	}

	.flat-info {
		padding-left: 20px;
		&__row {
			flex-direction: row;
			justify-content: space-between;
			margin-bottom: 20px;
			&__text {
				text-align: left;
				margin-bottom: 0;
			}
			&__btn-detailed {
				margin: 10px 0 0;
			}
		}
	}

	.top-nav {
		padding-top: 0;
		margin-bottom: 10px;

		.title {
			font-size: 32px;
			line-height: 48px;
			width: auto;
			max-width: 100%;
		}

		.back-link {
			position: relative;
		}
	}

	.stock-label {
		max-width: 100%;
		padding: 2px 0;
	}

	.filters-check {
		&__title {
			width: 100%;
			text-align: center;
			padding-left: 0;
		}
		label {
			min-width: 45px;
		}
	}

	.flat-col {
		@include even-odd(30px 20px 20px 0, 30px 0 20px 20px);
	}

	.filters-row {
		justify-content: space-between;
		[class*='col-'] {
			margin-bottom: 30px;
			width: 100%;
			max-width: 205px;
		}
	}
}
