.body {
    flex-direction: column;
}
.max-width-300 {
    max-width: 299.99px !important;
}
.header-partners {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    box-shadow: 0 2px 4px rgba(5, 94, 112, 0.3);
    padding: 7px 15px;
    background-color: $white;
}
.dropdown_section__text{
    color: #9bccde !important;
}
.zi-9{
    z-index: 9;
    position: relative;
}
#nav-icon1 {
    width: 25px;
    height: 20px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

#nav-icon1 span,
#nav-icon3 span,
#nav-icon4 span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: #9bccde;
    border-radius: 1px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
}

#nav-icon1 span:nth-child(1) {
    top: 0px;
}

#nav-icon1 span:nth-child(2) {
    top: 10px;
}

#nav-icon1 span:nth-child(3) {
    top: 20px;
}

#nav-icon1.open span:nth-child(1) {
    top: 10px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

#nav-icon1.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
}

#nav-icon1.open span:nth-child(3) {
    top: 10px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}
.mob-menu-wrap {
    transform: translateX(-100%);
    position: fixed;
    width: 100%;
    height: calc(100% - 85px);
    background-image: url("../../images/grey-wave.png");
    background-color: #9bccde;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease-in-out;
    z-index: 4;
    left: 0;
    bottom: 0;
    &.open {
        transform: translateX(0);
    }
}

.mob-menu {
    display: flex;
    flex-direction: column;

    img {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-60%);
        max-width: 24px;
        object-fit: contain;
        width: 100%;
    }
    li {
        position: relative;
        margin-bottom: 33px;
    }
    &__item {
        margin-left: 40px;
        color: #ffffff;
        font-size: 16px;
        font-weight: 500;
        &:hover {
            color: #fff;
        }
    }
}
.mob-menu-footer {
    position: absolute;
    width: 240px;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    &-box {
        display: flex;
        justify-content: space-around;
        margin-bottom: 20px;
    }
}
.mob-menu-footer-link {
    display: flex;
    justify-content: center;
    padding: 10px 0 9px;
    width: 100%;
    background: #fff;
    color: #9bccde;
    font-size: 16px;
    font-weight: 400;
}
.mobile-nav {
    padding: 10px 0;
}
.menu-logo {
    display: block;
    width: 98px;
    height: 50px;
    img {
        width: 100%;
        height: 100%;
    }
}

.call-link {
    margin-right: 35px;
}
.partners-first {
    padding-top: 64px;
    position: relative;
    overflow: hidden;
    background-image: url("../../images/partners-waves.png");
}
.partners-first-title-desc {
    color: #1c1c1c;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 2px;
}
.partners-first-title {
    color: #1c1c1c;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 14px;
}
.partners-first-text {
    color: #1c1c1c;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 23px;
}
.castom-btn {
    width: 100%;
    max-width: 260px;
    background-color: #9bccde;
    color: #ffffff !important;
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 500;
    padding: 10px 0 11px;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    position: relative;
    z-index: 9;
}
.raiting-list {
    padding: 0;
    list-style: none;
    &__item {
        margin-bottom: 30px;
    }
    &__logo {
        max-width: 100px;
        display: block;
        margin-bottom: 9px;
        img {
            width: 100%;
        }
    }
    &__result-line {
        height: 40px;
        background-color: #9bccde;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        min-width: 80px;
    }
    &__result {
        color: #ffffff;
        font-family: Montserrat;
        font-size: 18px;
        font-weight: 700;
        margin-right: 20px;
    }
}
.partners-first-bg {
    left: 0;
    bottom: 45%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    transform: scale(5.5);
}
.partners-first .container{
    position: relative;
    z-index: 3;
    .row{
        height: 100%;
    }
}
@media screen and (min-width: 992px){
    .pt-lg-20vh{
        padding-top: 20vh;
    }
    .partners-first-bg {
        height: 100vh;
        padding-top: 134px;
    }
}

.price-table-section {
    padding: 30px 0 25px;
}

.title-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    margin-bottom: 17px;
}
.my-dropdown-wrap {
    position: relative;
}
.my-dropdown-btn {
    display: flex;
    justify-content: center;
    width: 180px;
    border: 1px solid #9bccde;
    color: #9bccde !important;
    padding: 10px 0 7px;
    margin: 0;
    &-arrow {
        width: 16px;
        height: 8px;
        margin-left: 7px;
        fill: #9bccde;
    }
}

.my-dropdown {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 43px;
    z-index: 5;
    left: 0;
    a {
        color: #ffffff;
        font-size: 16px;
        font-weight: 500;
        padding: 11px 0 8px;
        display: flex;
        justify-content: center;
        margin-top: 1px;
        background-color: #9bccde;
        &:hover {
            color: #ffffff;
        }
    }
}
.price-table-section-title {
    color: #1c1c1c;
    font-size: 16px;
    font-weight: 700;
}
.tabs-sec-num {
    margin: 0 20px;
}
.overflowScroll {
    overflow-x: scroll;
}
.table-bordered {
    border: unset !important;
}
.price-table {
    &__description{
        color: #1c1c1c;
        font-family: Montserrat;
        font-size: 20px;
        font-weight: 400;
        text-align: center;
    }
    td {
        background: #f6f6f6;
        min-width: 130px;
        max-width: 140px;
    }
    td.booked {
        background-color: #f5f5dc;
    }
    td.saled {
        background-color: #055e70;
        .td-title,
        .td-medium-num,
        .td-light-num {
            color: #fff;
        }
    }
    td.investor {
        background-color: #9bccde;
        .td-title,
        .td-medium-num,
        .td-light-num {
            color: #fff;
        }
    }
}
.table-bordered td,
.table-bordered th {
    border: 2px solid #9bccde !important;
}
.first-row {
    color: #1c1c1c;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 400;
}
.first-col {
    color: #1c1c1c;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}
.my-col {
    color: #1c1c1c;
    font-size: 12px;
    font-weight: 700;
}
.td-title {
    color: #1c1c1c;
    font-size: 14px;
    font-weight: 700;
    width: 100%;
    display: block;
    text-align: center;
}
.td-medium-num {
    color: #1c1c1c;
    font-size: 12px;
    font-weight: 400;
}
.td-light-num {
    opacity: 0.6;
    color: #1c1c1c;
    font-size: 12px;
    font-weight: 300;
}
.desc-box {
    padding: 0 15px;
    margin-top: 25px;
}
.desc-box-text {
    color: #1c1c1c;
    font-size: 12px;
    font-weight: 400;
    display: flex;
    align-items: center;
}
.mb-20 {
    margin-bottom: 20px;
}
.color-cub {
    display: inline-block;
    width: 16px;
    height: 16px;
    &.bezh {
        background: #f6f6f6;
        margin-right: 8px;
    }
    &.ultra-bezh {
        background: #f5f5dc;
        margin-right: 8px;
    }
    &.breeze {
        background: #9bccde;
        margin-left: 8px;
    }
    &.green {
        background: #055e70;
        margin-left: 8px;
    }
}
.partners-btn-custom {
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    padding: 11px 0 8px;
    display: flex;
    justify-content: center;
    margin-top: 1px;
    background-color: #9bccde;
    min-width: 220px;
    width: 100%;
    margin: 0 auto;
}
.some-small-title {
    color: #1c1c1c;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    text-align: center;
    margin: 30px 15px 0;
}
.partners-form-section {
    padding: 22px 0 30px;
    padding-top: 0;
    background-color: #9bccde;
    background-image: url("../../images/grey-wave.png");
}
.form-section-title {
    color: #ffffff;
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 6px;
    &:hover {
        color: #ffffff !important;
    }
}
.partners-form {
    max-width: 360px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    input {
        width: 100%;
        padding: 13px 15px 12px;
        background: transparent;
        outline: none;
        color: #fff;
        border: 2px solid #ffffff;
        margin-bottom: 15px;
        &::placeholder {
            color: rgba(256, 256, 256, 0.6);
        }
        &:hover,
        &:focus {
            color: #fff !important;
        }
    }
    button {
        width: 100%;
        color: #9bccde;
        font-size: 15px;
        font-weight: 400;
        background: #fff;
        padding: 11px 0 10px;
    }
}
.form-section-text {
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    margin-bottom: 15px;
}
.characteristic {
    padding: 24px 0 43px;
    background-image: url("../../images/partners-waves.png");
}
.characteristic-title {
    font-size: 22px;
    font-weight: 700;
    line-height: 22px;
    margin-bottom: 20px;
    text-align: center;
}
.characteristic-list {
    padding-left: 22px;
    &__item {
        font-size: 15px;
        font-weight: 400;
        line-height: 26px;
        position: relative;
        margin-bottom: 15px;
        &:after {
            content: "";
            position: absolute;
            left: -27px;
            top: 7px;
            width: 6px;
            height: 6px;
            background-color: #9bccde;
            border-radius: 50%;
        }
    }
}
.characteristic-text {
    font-size: 14px;
    line-height: 24px;
}
.characteristic-title_mar-top {
    margin-top: 44px;
}

.partners-footer {
    padding: 23px 15px 6px;
    background: #055e70;
}
.partners-footer-title {
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 9px;
    &:hover {
        color: #fff;
    }
}
.partners-footer-items-box {
    display: flex;
    flex-direction: column;
}
.partners-footer-item {
    color: #9bccde;
    font-size: 12px;
    padding: 10px 0 9px;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    &:hover {
        color: #ffffff;
    }
}
.partners-footer-text {
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
    &:hover {
        color: #9bccde;
    }
}

@media (min-width: 768px) {
    .mobile-nav {
        padding: 20px 35px;
    }
    .partners-first {
        height: 100vh;
    }
    .partners-first-bg {
        bottom: 0%;
        transform: scale(1);
    }
    .desctop-menu {
        display: flex;
        align-items: center;
    }
    .partners-footer-item {
        margin: 0 7.5px;
    }
}

.price-table {
    display: none;
    &:first-child {
        display: table;
    }
    &-section{
        &__description{
            color: #1c1c1c;
            font-family: Montserrat;
            font-size: 16px;
            font-weight: 400;
        }
        &__btn{
            min-width: unset;
            color: #ffffff;
            font-family: Montserrat;
            font-size: 12px;
            font-weight: 400;
            &-white{
                color: #9bccde;
                border: 1px solid #9bccde;
                background: transparent;
            }
        }
    }
}
@media (min-width: 992px) {
    .partners-footer-items-box {
        display: flex;
        flex-direction: row;
        max-width: 840px;
        margin: 0 auto;
    }
    .menu-logo {
        width: 155px;
        height: 80px;
    }
    .desctop-menu__item {
        color: #1c1c1c;
        font-size: 16px;
        font-weight: 500;
        margin-right: 50px;
        &:hover {
            color: #1c1c1c;
        }
    }

    .partners-first {
        padding-top: 134px;
        // height: calc(100vh - 120px);
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .partners-first-title-desc {
        font-size: 26px;
        margin-bottom: 3px;
    }
    .partners-first-title {
        font-size: 40px;
        margin-bottom: 27px;
    }
    .partners-first-text {
        font-size: 20px;
        line-height: 32px;
        margin-bottom: 41px;
    }
    .castom-btn {
        font-size: 16px;
        padding: 13px 0 12px;
    }
    .partners-first-social-box {
        width: 100%;
        position: absolute;
        bottom: 30px;
        left: 0;
        padding: 0 50px;
    }
    .price-table-section {
        padding: 88px 0 73px;
    }
    .title-box {
        padding: 0 50px;
        margin-bottom: 19px;
    }
    .price-table-section-title {
        font-size: 40px;
    }
    .tabs-sec-num {
        font-size: 20px;
    }
    .social-box {
        display: flex;
        a {
            color: #9bccde;
            font-size: 14px;
            font-weight: 500;
            margin-right: 50px;
            display: flex;
            &:hover {
                color: #9bccde;
            }
            .fb-icon {
                margin-right: 10px;
                width: 10px;
                height: 20px;
            }
            .inst-icon {
                margin-right: 10px;
                width: 20px;
                height: 20px;
            }
            .youtube-icon {
                margin-right: 10px;
                width: 27px;
                height: 20px;
            }
        }
    }

    .my-container,
    .desc-box {
        padding: 0 50px;
    }
    .desc-box {
        margin-top: 34px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .desc-box-text {
        margin-right: 45px;
        font-size: 14px;
    }

    .color-cub {
        display: inline-block;
        width: 32px;
        height: 32px;
        margin-right: 15px;
        &.bezh {
            margin-right: 15px;
        }
        &.ultra-bezh {
            margin-right: 15px;
        }
        &.breeze {
            margin-left: 0;
        }
        &.green {
            margin-left: 0;
        }
    }
    .some-small-title {
        font-size: 20px;
        margin-top: 68px;
    }
    .partners-form-section {
        padding: 40px 0 50px;
        position: relative;
    }
    .form-section-title {
        font-size: 40px;
    }
    .form-section-text {
        font-size: 20px;
        line-height: 32px;
    }
    .partners-form {
        input {
            width: 100%;
            padding: 13px 15px 12px;
            background: transparent;
            outline: none;
            color: #fff;
            border: 2px solid #ffffff;
            margin-bottom: 15px;
            &::placeholder {
                color: rgba(256, 256, 256, 0.6);
            }
            &:hover,
            &:focus {
                color: #fff !important;
            }
        }
        button {
            width: 100%;
            color: #9bccde;
            font-size: 15px;
            font-weight: 400;
            background: #fff;
            padding: 11px 0 10px;
        }
    }
    .characteristic {
        padding: 100px 0 54px;
    }
    .characteristic-title {
        font-size: 40px;
        margin-bottom: 25px;
    }
    .characteristic-list {
        padding-left: 22px;
        &__item {
            font-size: 18px;
            margin-bottom: 9px;
        }
    }
    .characteristic-text {
        font-size: 16px;
    }
    .characteristic-title_mar-top {
        margin-top: 45px;
    }
    .partners-footer {
        padding: 76px 50px 6px;
    }
    .partners-footer-title {
        font-size: 40px;
        margin-bottom: 20px;
    }
    .partners-footer-items-box {
        margin-bottom: 48px;
    }
    .partners-footer-item {
        font-size: 16px;
    }
    .partners-footer-text {
        font-size: 16px;
    }
}

.form-section__box{
    position: relative;
    &__image{
        width: 100%;
    }
    &__text{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 2;
        padding: 20px 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
    }
    &__title{
        margin-bottom: 15px;
        color: #ffffff;
        font-family: Montserrat;
        font-size: 22px;
        font-weight: 700;
        text-align: center;
    }
    &__description{
        color: #ffffff;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 400;
        text-align: center;
        line-height: 20px;
    }
    &__mask{
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        z-index: 1;
    }
}
.partners-form .partners-form__btn{
    background-color: #055e70;
    color: #fff;
}


#phoneModal {
    .border-bottom {
        border-bottom: 1px solid #e5e5e5 !important;
        &:last-child {
            border-bottom: none;
        }
    }
    .phone-mobile-title {
        color: #8f8e94;
        font-size: 14px;
        font-weight: 500;
    }
    .modal-content {
        transform: translateY(-30px);
        background-color: transparent;
        font-size: 20px;
        position: relative;
        border: none;
        &-box {
            position: relative;
            overflow: hidden;
            border-radius: 13px;
        }
        .phone {
            color: #9bccde;
        }
    }
    .modal-header {
        position: relative;
        border-bottom: 1px solid #e5e5e5 !important;
        p {
            position: relative;
            z-index: 1;
        }
        &:before {
            content: "";
            width: 100%;
            height: 295px;
            position: absolute;
            left: 0;
            top: 0;
            background-color: #fff;
            opacity: 0.5;
        }
        &:after {
            content: "";
            width: 100%;
            height: 295px;
            position: absolute;
            left: 0;
            top: 0;
            backdrop-filter: blur(20px);
            background-color: rgba(252, 252, 252, 0.8);
        }
    }
    .modal-footer {
        transform: translateY(15px);
        background-color: rgba(252, 252, 252, 0.8);
        border-radius: 13px;
        span {
            color: #9bccde;
        }
    }
}


.wave_btn{
    position: relative;
    background: transparent;
    margin-left: auto;
    margin-right: auto;
    &::after{
        position: absolute;
        content: '';
        left: -5px;
        top: 50%;
        transform: translateY(-53%);
        background-image: url('../../images/btn-wave.png');
        width: 326px;
        height: 88px;
        z-index: -1;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }
}
.characteristic-text b{
    font-weight: 700;
    font-size: 14px;
}
.characteristic_box{
    box-shadow: 4px 5px 10px rgba(0, 0, 0, 0.3);
    border-radius: 0 10px 10px 0;
    margin-left: -15px;
    .characteristic-text{
        font-size: 14px;
    }
    &__image{
        max-width: 70px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #9bccde;
        img{
            height: 40px;
        }
    }
    &__description{
        padding: 20px 15px;
        width: 100%;
        background-color: #ffffff;
        border-radius: 0 10px 10px 0;
    }
}
.characteristic_arrow{
    transform: scale(1.5);
    max-width: 50vw;
    align-self: center;
    height: 50px;
}
.partners-footer__image{
    max-width: 37px;
    width: 100%;
    height: 30px;
    object-fit: contain;
}
.partners-footer__box{
    margin-bottom: 20px;
    .partners-footer-item{
        margin-left: 10px;
    }
}
.partners-footer__box .partners-footer-item:hover{
    background-color: #9bccde;
}
.partners-footer__box .partners-footer-item{
    transition: all .3s ease-out;
}
.social-box a {
    position: relative;
    z-index: 2;
}
.social-box__bg{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100vw;
    background-color: #055e70;
    opacity: 0.8;
    height: 42px;
    z-index: 1;
}
.social-box__button{
    background: #fff;
    color: #9bccde;
    border: none;
    width: 220px;
}
.min-width-200{
    min-width: 200px;
}
@media screen and (min-width:992px){
    .partners-footer__box{
        padding-left: 15px;
        padding-right: 15px;
    }
    .wave_btn{
        margin-left: unset;
        margin-right: unset;
    }
    .partners-footer__box .partners-footer-item{
        line-height: 1;
        color: #055e70;
        margin-top: 33px;
    }
    .partners-footer__image{
        max-width: 60px;
        height: 50px;
    }
    .form-section__box{
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 45%;
        transform: scaleY(1.07);
        box-shadow: 10px 5px 20px rgba(0, 0, 0, 0.3);
    }
    .form-section__box__image{
        height: 100%;
        object-fit: cover;
    }
    .partners-form-section .container{
        margin-right: unset;
        max-width: 55vw;
    }
    .form-section__box__mask{
        display: none;
    }
}
@media screen and (min-width:992px){
    .characteristic .sub__container{
        position: relative;
        padding: 40px;
        margin-bottom: 40px;
    }
    .characteristic-text b{
        font-size: 16px;
    }
    .characteristic_box__image img{
        height: unset;
        width: 60px;
        height: 65px;
        object-fit: contain;
    }
    .characteristic_arrow{
        height: 78px;
        transform: none;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .characteristic_box__image{
        max-width: 100px;
    }
}
.characteristic_border{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 110%;
    height: 110%;
}
