.real-estate-developer-page {
    padding: 60px 0;

    .container {
        max-width: 1235px;

        .about-row {
            margin-bottom: 85px;
        }

        .developer-row {
            display: flex;
            flex-direction: column;
            padding: 0 15px;
        }
    }

    .info-box {
        &__title {
            @include textStyle($black-primary, $montserrat, 28px, 600);
            text-transform: uppercase;
            margin-top: 40px;
            margin-bottom: 55px;
        }

        &__description {
            @include textStyle($black-primary, $montserrat, 16px, 400);
            margin-bottom: 55px;
        }

        &__btn-link {
            @include textStyle($black-primary, $montserrat, 16px, 400);
            display: inline-block;
            padding: 10px 20px;
            border: 1px solid #156872;
        }
    }

    .images-box {
        position: relative;

        &__company-link {
            position: absolute;
            left: 0;
            top: 0;
            transform: translateX(-170px);
            z-index: 0;

            p {
                @include textStyle($white, $montserrat, 18px, 400);
                position: absolute;
                display: inline-block;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }

        &__image-main {
            position: relative;
            z-index: 1;
            width: 100%;
            height: 450px;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        &__circle {
            display: flex;
            flex-direction: row;
            align-items: center;
            position: relative;
            top: 0;
            right: 0;
            width: 350px;
            height: 350px;
            background-color: $white;
            border-radius: 100%;
            box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.5);
            z-index: 2;
            margin: 0 0 0 auto;

            img {
                width: calc(100% - 40px);
                margin: 0 auto;
            }
        }
    }

    .title-box {
        margin-bottom: 80px;

        &__title {
            @include textStyle(#000, $montserrat, 36px, 500);
        }
    }

    .projects-row {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
        align-items: center;

        &__item {
            margin-bottom: 30px;
            img {
                height: 100%;
                max-height: 110px;
                object-fit: contain;
                margin: 0 auto;
            }
        }
    }

    .waves-box {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        z-index: -1;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        svg {
            width: 100%;
            height: 100%;

            .a {
                stroke: rgba(0, 0, 0, 0.1);
            }
        }
    }
}

@media screen and (max-width: $media-lg-down) {
    .real-estate-developer-page {
        padding: 75px 0 55px 0;

        .container {
            .about-row {
                flex-direction: column-reverse;
                margin-bottom: 60px;
            }
        }

        .images-box {
            margin-bottom: 80px;

            &__title {
                @include textStyle($black-primary, $montserrat, 20px, 600);
                text-transform: uppercase;
                margin-bottom: 20px;
            }

            &__company-link {
                position: relative;
                top: unset;
                bottom: 0;
                left: 0;
                width: 100%;
                max-width: 330px;
                z-index: 0;
                transform: translate(0, 0);

                p {
                    font-size: 16px;
                }

                img {
                    width: 100%;
                }
            }

            &__image-main {
                height: 215px;
            }

            &__circle {
                position: relative;
                width: 320px;
                padding-bottom: 320px;
                margin: 0 auto;
                height: 0;
                top: 0;
                left: 10px;
                right: 0;

                img {
                    width: calc(100% - 20px);
                    position: absolute;
                    top: 50%;
                    left: 10px;
                    transform: translateY(-50%);
                }
            }
        }

        .info-box {
            &__description {
                font-size: 14px;
                margin-bottom: 30px;
            }

            &__btn-link {
                position: relative;
                left: 50%;
                transform: translateX(-50%);
            }
        }

        .title-box {
            margin-bottom: 60px;

            &__title {
                font-size: 20px;
                text-align: center;
            }
        }

        .projects-row {
            &__item {
                width: 50%;
                margin-bottom: 80px;

                &:nth-child(odd) {
                    padding-right: 15px;
                }

                &:nth-child(even) {
                    padding-left: 15px;
                }

                img {
                    width: 100%;
                    margin: 0 auto;
                    object-fit: contain;
                }
            }
        }
    }
}
