.main-panel.login_panel{
    width: 100%;
}
.login_btn{
    margin-left: auto;
    margin-right: auto;
}
.menu_drop button:after{
    display: none;
}
.menu_drop button i{
    font-size: 24px !important;
}
.menu_drop button.btn{
    padding: 0;
    margin: 0;
}
.drop_menu_button{
    width:100%;
    padding-left: 1.5rem;
    background: transparent;
    border: none;
    padding-right: 1.5rem;
    cursor: pointer;
    padding: 0.625rem 1.5rem;
    transition: all .2s ease-out;
}
.drop_menu_button:hover{
    color: #fff;
}
.team_select{
    max-width: 70px;

}
.input_file{

}
.input_file_item{
    margin: 13px 0 0;
}
.remove_char{
    color: red;
    font-size: 24px;
    cursor: pointer;
    max-width: 24px;
    width: 100%;
}
.char_box p{
    margin-right: 5px;
}
.plus_item{
    font-size: 24px;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 3s ease-out;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
}
.plus_item:hover{
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
}
.char_box{
    flex-wrap: wrap;
}
.char_input{
    width: 100%;
    border: none;
    border: 1px solid #ccc;
    padding: 0.4375rem 8px;
    color: #495057;
}
.char_input:last-child{
    border-left: none;
}

input.flatpickr-input{
    background-color: transparent !important;
}
//dropdoun menu
.nav--vertical{
    list-style-type:none;
    margin: 0;
    padding: 0;
    li.dropmenu{
        position: relative;
        display:block;
        &.dropmenu{
            ul{
                display:none;
            }
        }
        &.dropmenu:hover{
            > ul{
                display:block;
            }
        }
    }
    li{

        a{
            margin: 0;
            text-decoration:none;
            padding:7px 10px;
            display:block;
            margin-bottom: 1px;
            background-color: #fff;
        }
        ul{
            list-style-type:none;
            margin: 0;
            padding: 0;
            position: absolute;
            left:100%;
            &.level1, &.level2{
                min-width:150px;
                top:0;
                border-left: 1px solid #fff;
            }

            &.level2{
                //top: 50%;
                //transform: translateY(-40%);
            }
        }
    }
}

.level2 {
    max-height: 100%;
    height: 100%;
    overflow: auto;
}

.level1 a{
    box-shadow: 0 0 3px rgba(0,0,0,0.5);
}

.wrapper .sidebar .sidebar-wrapper{
    overflow: visible;
}
.nav-item.active .nav-link{
    background-color: #3C4858!important;
    color: #fff!important;
}
// login
#login .main-panel{
    float: none;
    margin: 0 auto;
}

.sidebar {
    overflow-y: auto;
    overflow-x: hidden;
}
